# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=CERN Tape Archive (CTA) tape daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
User=cta
Group=tape

RuntimeDirectory=cta/taped
RuntimeDirectoryMode=0750
LogsDirectory=cta cta/old
LogsDirectoryMode=0755

EnvironmentFile=-/etc/sysconfig/cta-taped
ExecStart=/usr/bin/cta-taped --foreground --config=/etc/cta/cta-taped.conf --log-to-file=/var/log/cta/cta-taped.log

LimitCORE=infinity
OOMScoreAdjust=-10
Restart=on-failure
RestartSec=5
TimeoutStopSec=60

AmbientCapabilities=CAP_SYS_RAWIO
CapabilityBoundingSet=CAP_SYS_RAWIO

[Install]
WantedBy=multi-user.target
