# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=gRPC frontend for CERN Tape Archive (CTA)
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
User=cta
Group=cta

LogsDirectory=cta cta/old
LogsDirectoryMode=0755

EnvironmentFile=/etc/sysconfig/cta-frontend-grpc
ExecStart=/usr/bin/cta-frontend-grpc

LimitCORE=infinity
LimitNOFILE=65535
OOMScoreAdjust=-10
Restart=on-failure
RestartSec=5
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
