{{- /*
SPDX-FileCopyrightText: 2025 CERN
SPDX-License-Identifier: GPL-3.0-or-later
*/ -}}

{{- $schedulerConfig := include "scheduler.config" . | fromYaml -}}
{{ range .Values.drives }}
{{- $driveNameSlug := include "common.slugify" .name }}
# Generate unique config map for each tape drive
apiVersion: v1
kind: ConfigMap
metadata:
  name: cta-taped-{{ $driveNameSlug }}-conf
  labels:
    {{-  include "common.labels.standard" $ | nindent 4 }}
data:
  cta-taped.conf: |-
    # cta-taped setup
    taped BufferSizeBytes {{ $.Values.conf.taped.bufferSizeBytes }}
    taped BufferCount {{ $.Values.conf.taped.bufferCount }}
    taped MountCriteria {{ $.Values.conf.taped.mountCriteria }}
    taped WatchdogIdleSessionTimer {{ $.Values.conf.taped.watchdogIdleSessionTimer }}
    taped UseEncryption {{ $.Values.conf.taped.useEncryption }}
    taped DriveName {{ .name }}
    taped DriveLogicalLibrary {{ .logicalLibraryName }}
    taped DriveDevice {{ .device }}
    taped DriveControlPath {{ .controlPath }}
    taped LogMask {{ $.Values.conf.taped.logMask }}
    taped NbDiskThreads {{ $.Values.conf.taped.nbDiskThreads }}
    taped TapeCacheMaxAgeSecs {{ $.Values.conf.taped.tapeCacheMaxAgeSecs }}
    taped RetrieveQueueCacheMaxAgeSecs {{ $.Values.conf.taped.retrieveQueueCacheMaxAgeSecs }}
    # specific to stress test configuration to aligning the 
    # buffer size 8000 files with the fetch and flush sizes of 4000 files pin a bunch
    taped ArchiveFetchBytesFiles 80000000000,4000
    taped ArchiveFlushBytesFiles 80000000000,4000
    taped RetrieveFetchBytesFiles 80000000000,4000
    # Objectstore
    ObjectStore BackendPath {{ include "global.schedulerUrl" $ }}
    # General
    general InstanceName {{ $.Release.Namespace }}
    general SchedulerBackendName {{ $schedulerConfig.backend }}
    taped externalFreeDiskSpaceScript {{ $.Values.conf.taped.externalFreeDiskSpaceScript }}

    # Rmcd
    taped RmcHost {{ $.Values.conf.taped.rmcHost }}

    # Telemetry
    experimental telemetryEnabled {{ $.Values.conf.telemetry.enabled }}

    telemetry retainInstanceIdOnRestart {{ $.Values.conf.telemetry.retainInstanceIdOnRestart }}
    telemetry metricsBackend {{ $.Values.conf.telemetry.metrics.backend }}
    {{- if $.Values.conf.telemetry.metrics.exportInterval }}
    telemetry metricsExportInterval {{ $.Values.conf.telemetry.metrics.exportInterval }}
    {{- end }}
    {{- if $.Values.conf.telemetry.metrics.exportTimeout }}
    telemetry metricsExportTimeout {{ $.Values.conf.telemetry.metrics.exportTimeout }}
    {{- end }}
    {{- if $.Values.conf.telemetry.metrics.otlp.endpoint }}
    telemetry metricsOtlpEndpoint {{ $.Values.conf.telemetry.metrics.otlp.endpoint }}
    {{- end }}
    {{- if $.Values.conf.telemetry.metrics.otlp.auth.basic.username }}
    telemetry metricsOtlpAuthBasicUsername {{ $.Values.conf.telemetry.metrics.otlp.auth.basic.username }}
    {{- end }}
    {{- if $.Values.conf.telemetry.metrics.otlp.auth.basic.passwordSecret }}
    telemetry metricsOtlpAuthBasicPasswordFile /etc/cta/otlp-basic-auth-pwd.conf
    {{- end }}
    {{- if $.Values.conf.telemetry.metrics.file.endpoint }}
    telemetry metricsFileEndpoint {{ $.Values.conf.telemetry.metrics.file.endpoint }}
    {{- end }}


---
{{- end }}
