{{- /*
SPDX-FileCopyrightText: 2025 CERN
SPDX-License-Identifier: GPL-3.0-or-later
*/ -}}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-kadm5-acl
  namespace: {{ .Release.Namespace }}
data:
  kadm5.acl: |
    */admin@{{ .Values.kerberos.defaultRealm }} *


