.gitignore
.libs
*.o
*.d
*.la
*.lo
*.so.*
*.so
*.pyc
*.bak
*~
*.moc
*.xml
.*project
gsoap/*
client/srm2_*
srm/admin/*area
srm/daemon/srmbed
srm/server/srmfed
*testOCCI*
*testCastor*
Makefile
imake/*
castor/gc/Makefile
castor/gc/gcd
castor/infoPolicy/Makefile
castor/job/Makefile
castor/job/d2dtransfer/Makefile
castor/job/d2dtransfer/d2dtransfer
castor/job/stagerjob/Makefile
castor/job/stagerjob/stagerjob
castor/jobmanager/Makefile
castor/monitoring/Makefile
castor/monitoring/admin/Makefile
castor/monitoring/admin/rmAdminNode
castor/monitoring/checkSharedMemory
castor/monitoring/dumpSharedMemory
castor/monitoring/rmGetNodes
castor/monitoring/rmmaster/Makefile
castor/monitoring/rmmaster/rmmasterd
castor/monitoring/rmnode/Makefile
castor/monitoring/rmnode/rmnoded
castor/repack/Makefile
castor/repack/repack
castor/repack/repackd
castor/rtcopy/mighunter/Makefile
castor/rtcopy/mighunter/mighunterd
castor/rtcopy/rechandler/Makefile
castor/rtcopy/rechandler/rechandlerd
castor/scheduler/Makefile
castor/stager/daemon/stagerd
clips/Makefile
codeGeneration/gencastor/gencastor.bin
codeGeneration/gencastor/kdesdk-3.5.10
dlf/web/Makefile
expert/expertd
gridftp2/Makefile
gridftp2/external/Makefile
gridftp2/internal/Makefile
gridftp2/xroot/Makefile
hsmtools/stager_actualget
hsmtools/stager_actualput
logprocessor/Makefile
ns/nsdelsegment
ns/nsrmvid
rmc/rmcd
tape/dumptape
test/castor/Makefile
tools/MagicNumbers
tools/MagicNumbers.ps
upv/Cupv_oracle_ifce.c
upv/Cupv_oracle_ifce.lis
upv/Cupvadd
upv/Cupvcheck
upv/Cupvdelete
upv/Cupvlist
upv/Cupvmodify
upv/cupvd
castor/jobmanager/jobmanagerd
castor/tape/mighunter/mighunterd
castor/tape/rechandler/rechandlerd
castor/monitoring/fillSharedMemory.cpp
castor/tape/tapebridge/tapebridged
client/src/stager/stager_abort
hsmtools/rfcpupd.c
rtcopy/rtcpc_CallVMGR.c
rtcopy/rtcpc_CheckReq.c
rtcopy/rtcpc_SendRecv.c
rtcopy/rtcpc_log.c
tape/usrlocate.c
tape/usrreadlbl.c
tape/usrrwndtape.c
tape/usrskiptape.c
tape/usrsmcsubr.c
tape/usrsmcsubr2.c
tape/usrtperror.c
tape/usrusrmsg.c
tape/usrwritelbl.c
tape/usrwrttpmrk.c
vdqm/vdqmc_SendRecv.c
castor/rh/rhd
castor/tape/tapegateway/tapegatewayd
castor/tape/tpcp/dumptp
castor/tape/tpcp/readtp
castor/tape/tpcp/writetp
castor/vdqm/vdqmd
client/src/stager/castor
client/src/stager/stager_addprivilege
client/src/stager/stager_get
client/src/stager/stager_listprivileges
client/src/stager/stager_put
client/src/stager/stager_putdone
client/src/stager/stager_qry
client/src/stager/stager_removeprivilege
client/src/stager/stager_rm
client/src/stager/stager_setfilegcweight
client/src/stager/stager_update
hsmtools/adler32
hsmtools/c2probe
hsmtools/deleteFileClass
hsmtools/deletePriority
hsmtools/deleteSvcClass
hsmtools/enterFileClass
hsmtools/enterPriority
hsmtools/enterSvcClass
hsmtools/listPriority
hsmtools/modifyFileClass
hsmtools/modifySvcClass
hsmtools/reclaim
hsmtools/rfcpupd
castor/vdqm/vdqmDBInit
ns/Cns_oracle_ifce.c
ns/Cns_oracle_ifce.lis
ns/nschclass
ns/nschmod
ns/nschown
ns/nsd
ns/nsdelcomment
ns/nsdeleteclass
ns/nsenterclass
ns/nsfind
ns/nsgetacl
ns/nsgetpath
ns/nslistclass
ns/nslisttape
ns/nsln
ns/nsls
ns/nsmkdir
ns/nsmodifyclass
ns/nsping
ns/nsrename
ns/nsrm
ns/nsrmdir
ns/nssetacl
ns/nssetchecksum
ns/nssetcomment
ns/nssetfsize
ns/nssetsegment
ns/nstouch
rfio/rfcat
rfio/rfchmod
rfio/rfcp
rfio/rfdir
rfio/rfiod
rfio/rfmkdir
rfio/rfrename
rfio/rfrm
rfio/rfstat
rtcopy/killjid
rtcopy/migrator
rtcopy/recaller
rtcopy/rtcpclientd
rtcopy/rtcpd
rtcopy/tperrhandler
rtcopy/tpread
rtcopy/tpwrite
tape/confdrive
tape/mounttape
tape/posovl
tape/rlstape
tape/smc
tape/taped
tape/tpconfig
tape/tpdump
tape/tplabel
tape/tprstat
tape/tpstat
test/unittest/rununittests
vdqm/showqueues
vdqm/vdqm_admin
vmgr/vmgr_oracle_ifce.c
vmgr/vmgr_oracle_ifce.lis
vmgr/vmgrd
vmgr/vmgrdeletedenmap
vmgr/vmgrdeletedgnmap
vmgr/vmgrdeletelibrary
vmgr/vmgrdeletemodel
vmgr/vmgrdeletepool
vmgr/vmgrdeletetape
vmgr/vmgrdeltag
vmgr/vmgrenterdenmap
vmgr/vmgrenterdgnmap
vmgr/vmgrenterlibrary
vmgr/vmgrentermodel
vmgr/vmgrenterpool
vmgr/vmgrentertape
vmgr/vmgrgettag
vmgr/vmgrlistdenmap
vmgr/vmgrlistdgnmap
vmgr/vmgrlistlibrary
vmgr/vmgrlistmodel
vmgr/vmgrlistpool
vmgr/vmgrlisttape
vmgr/vmgrmodifylibrary
vmgr/vmgrmodifypool
vmgr/vmgrmodifytape
vmgr/vmgrsettag
nbproject
