[submodule "external/xrootd-ssi-protobuf-interface"]
	path = external/xrootd-ssi-protobuf-interface
	url = https://:@gitlab.cern.ch:8443/eos/xrootd-ssi-protobuf-interface.git
[submodule "external/grpc-proto"]
	path = external/grpc-proto
	url = https://:@gitlab.cern.ch:8443/eos/grpc-proto.git
[submodule "external/cta-catalogue-schema"]
	path = external/cta-catalogue-schema
	url = https://:@gitlab.cern.ch:8443/cta/cta-catalogue-schema.git
[submodule "external/jwt-cpp"]
	path = external/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
