
# catalogue
catalogue/AllCatalogueSchema.hpp

# cta-release
cta-release/RPM-GPG-KEY-*
cta-release/versionlock.cta

# Build/Runtime files
build_srpm/
build_rpm/
image_rpms/
pod_logs/

# helm files
Chart.lock
**/get_helm.sh

# Archive files
**/*.tgz