# --- Project-specific ignores ---

# Catalogue
catalogue/AllCatalogueSchema.hpp

# CTA-release
cta-release/RPM-GPG-KEY-*
cta-release/versionlock.cta

# Build/Runtime files
build_srpm/
build_rpm/
image_rpms/
pod_logs/
tmp/

# Helm files
Chart.lock
**/get_helm.sh

# Archive files

# --- IDE-specific ignores ---

# JetBrains
.idea/
*.iml
*.iws
out/
workspace.xml

# VSCode
.vscode/
*.code-workspace

# --- C++ ignores ---

# Build files
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.out
*.exp
*.pdb

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Debug files
*.dSYM/
*.gcda
*.gcno
*.gcov

# --- Python ignores ---

# Bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/
env/
Pipfile.lock

# Pytest
.pytest_cache

# --- Miscellaneous ignores ---

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo
*.swn
*.swm
*.swd
*.tgz

# OS-specific files
.DS_Store
