repos:
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0  # You can check the latest version in the repo
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
  - repo: local
    hooks:
      - id: git-clang-format
        name: git-clang-format
        entry: git-clang-format
        language: system
        types: [c, c++]
        pass_filenames: false

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff
        args: [--fix]

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        args: [--line-length, "120"]
