# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

extends: default

rules:
  line-length:
    max: 200
  document-start: disable
  truthy: disable

ignore: |
  .git/
  build_*/
  ci/orchestration/helm/**/templates
  common/jwt-cpp/
  catalogue/cta-catalogue-schema/
  eos_cta/grpc-proto/
  xrootd-ssi-protobuf-interface/
