extends: default

rules:
  line-length:
    max: 200
  document-start: disable
  truthy: disable

ignore: |
  .git/
  build_*/
  continuousintegration/orchestration/helm/**/templates
  common/jwt-cpp/
  catalogue/cta-catalogue-schema/
  eos_cta/grpc-proto/
  xrootd-ssi-protobuf-interface/
