# Useless in my setup since all drives are visibles
# Create symlink /dev/tape pointing to the (first) tape drive
# SUBSYSTEM=="scsi_tape", KERNEL=="nst0", SYMLINK:="tape"

# ? what for works fine on IBM drive without it...
# Create symlink /dev/smc pointing to the SCSI media changer (IBM tape library specific)
# SUBSYSTEM=="scsi_generic", KERNEL=="sg*", ATTRS{type}=="8", SYMLINK:="smc"


# initially was:
# KERNEL=="gniagnia*", MODE:="0666", GROUP:="st"
# Do not need group st since mode is 666...
# Fix the permissions and group of the tape devices
KERNEL=="nst*", MODE:="0666"
KERNEL=="st*",  MODE:="0666"
KERNEL=="sg*",  MODE:="0666"