[Unit]
Description=dCache frontend for CERN Tape Archive (CTA)
After=syslog.target network-online.target

[Service]
EnvironmentFile=/etc/sysconfig/cta-dcache
ExecStart=/usr/bin/cta-dcache --no-log-header --port ${GRPC_PORT}
Type=simple
Restart=always
User=cta
Group=cta

[Install]
WantedBy=default.target
