{{$namespace := .Release.Namespace }}
{{$name := include "ctacli.name" . }}

apiVersion: v1
kind: Pod
metadata:
  name: {{$name}}
  namespace: {{ $namespace | quote}}
  labels:
    k8s-app: {{$name}}
spec:
  restartPolicy: Never
  containers:
  - name: {{$name}}
    image: {{ include "ctacli.image" . }}
    imagePullPolicy: {{ include "ctacli.imagePullPolicy" . }}
    stdin: true
    env:
    - name: MY_NAME
      value: {{$name}}
    - name: MY_NAMESPACE
      value: {{ $namespace | quote}}
    - name: INSTANCE_NAME
      value: {{ $namespace | quote}}
    {{- if (.Values.env) }}
        {{- .Values.env | toYaml | nindent 4}}
    {{- end}}
    {{- if (.Values.customEntrypoint)}}
    command: {{.Values.customEntrypoint.command | toJson}}
    args: {{.Values.customEntrypoint.args}}
    {{- end}}
    {{- if (.Values.readinessProbe)}}
    {{include "ctacli.readinessProbe" .Values.readinessProbe | nindent 4}}
    {{- end}}
    securityContext:
      privileged: {{ .Values.isPriviliged }}
    volumeMounts:
    - name: cta-conf-volume
      mountPath: /etc/cta
    {{ include "ctacli.volumeMounts" . | nindent 4 }}
  volumes:
  - name: cta-conf-volume
    configMap:
      name: etc-cta
  {{include "ctacli.volumes" . | nindent 2}}

  imagePullSecrets:
  {{ include "ctacli.imagePullSecrets" . | nindent 4 }}
