# SPDX-FileCopyrightText: 2015 CERN
#
# SPDX-License-Identifier: GPL-3.0-or-later


################################################################################
#
# CTA Remote Media Changer Daemon Example Configuration File
#
################################################################################

# Listener port
# RMC PORT 5014
