# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

conf:
  taped:
    bufferSizeBytes: 262144
    bufferCount: 200
    mountCriteria: "2000000, 100"
    watchdogIdleSessionTimer: 1  # Make tape servers more responsive, thus improving CI test speed
    logMask: "INFO"
    useEncryption: "no"
    # Reduce number of threads to reduce contention
    nbDiskThreads: 4
    # Decrease schedulerDB cache timeout for tests
    tapeCacheMaxAgeSecs: 1
    retrieveQueueCacheMaxAgeSecs: 1
    externalFreeDiskSpaceScript: "/usr/bin/cta-eosdf.sh"
    rmcHost: "cta-rmcd" # override with localhost if using hostnetwork
  telemetry:
    enabled: false
    retainInstanceIdOnRestart: false
    metrics:
      backend: "NOOP"
      exportInterval: 1000
      exportTimeout: 500
      otlp:
        endpoint: ""
        auth:
          basic:
            username: ""
            passwordSecret: ""
      file:
        endpoint: ""


# SSS keytab to communicate to the disk buffer
keytab:
  secretName: eos-keytab
  subPath: eos.keytab

# Script to execute in the main container before starting the taped services
preRun:
  enabled: false
  script: |
    #!/usr/bin/bash

# Script to execute in the main container after the taped process exited
postRun:
  enabled: false
  script: |
    #!/usr/bin/bash

# The following is an example format of drives
#
# drives:
#   - name: "VDSTK01"
#     device: "/dev/nst2"
#     logicalLibraryName: lib1
#     controlPath smc0
#   - name: "VDSTK02"
#     device: "/dev/nst0"
#     logicalLibraryName: lib2
#     controlPath smc1
drives: {}

# We need to be privileged to handle the tape drives
securityContext:
  privileged: true
  allowPrivilegeEscalation: true

pod:
  extraSpec:
    terminationGracePeriodSeconds: 1

extraEnv:

extraVolumes:
  volumes:
  volumeMounts:
