# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=CERN Tape Archive (CTA) maintd service
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/cta-maintd
# In case --runtime-dir is used, use RuntimeDirectory= to manage the ephemeral runtime directory
ExecStart=/usr/bin/cta-maintd ${CTA_MAINTD_OPTIONS}
LimitCORE=infinity
OOMScoreAdjust=-1000
Restart=yes
TimeoutSec=60
User=cta
Group=tape

[Install]
WantedBy=default.target
