# SPDX-FileCopyrightText: 2015 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

####################################################################################################
#
# CTA Maintd Service Configuration
#
####################################################################################################

#
# Experimental feature flags
#
cta.experimental.telemetry.enabled false

#
# MAINTD SERVICE CONFIGURATION OPTIONS
#

#
# GENERAL OPTIONS
# This options will be included in every log line of the maintd process to enhance log identification.
#
# Unique string to identify CTA's instance the maintd process is serving (i.e: production, preproduction).
# Each of these instances should be associated with a specific CTA catalogue instance.
cta.instance_name production

# The unique string to identify the backend scheduler resources. As an example, it can be structured as:
# "[ceph|postgres|vfs][User|Repack]".
cta.scheduler_backend_name cephUser

# Logs with a level lower than the LogMask value will be masked. Possible values are EMERG, ALERT,
# CRIT, ERR, WARNING, NOTICE (USERERR), INFO, DEBUG.
cta.log.level INFO

# Log format. Possible values are unstructured, json.
cta.log.format json

# Path to the CTA Catalogue configuration file
cta.catalogue.config_file /etc/cta/cta-catalogue.conf

# URL of the objectstore (CTA Scheduler Database). Usually this will be the URL of a Ceph RADOS
# objectstore. For testing or small installations, a file-based objectstore can be used instead.
cta.objectstore.backendpath rados://cta@tapecta:cta


#
# CACHE TIMEOUT OPTIONS
#
# Defaults to 600 seconds if not set.
cta.schedulerdb.tape_cache_max_age_secs 600
#
# Defaults to 10 seconds if not set.
cta.schedulerdb.retrieve_queue_cache_max_age_secs 10

# The sleep interval for the main maintd loop (ms)
cta.maintd.sleep_interval 1000

#
# MAINTD ROUTINE CONFIGURATION OPTIONS
#

# The maximum duration in seconds a full cycle of routine execution is allowed to take.
# A full cycle of routine execution refers to executing all enabled routines once and excludes the sleep interval.
cta.routines.max_routines_duration 900

# Enable Disk Reporting to report the state (fail or success) of archive jobs.
cta.routines.disk_report_archive.enabled true
cta.routines.disk_report_archive.batch_size 500
cta.routines.disk_report_archive.soft_timeout 30

# Enable Disk Reporting to report the state (fail or success) of retrieve jobs.
cta.routines.disk_report_retrieve.enabled true
cta.routines.disk_report_retrieve.batch_size 500
cta.routines.disk_report_retrieve.soft_timeout 30

# Run the Garbage Collector for garbage collection of the objectstore's dead agents
cta.routines.garbage_collect.enabled true

# Run the Queue Cleanup to remove queues marked for cleanup
cta.routines.queue_cleanup.enabled true
cta.routines.queue_cleanup.batch_size 500

# Enable Repack Expansion
cta.routines.repack_expand.enabled true
cta.routines.repack_expand.max_to_toexpand 2

# Enable Repack Reporting
cta.routines.repack_report.enabled true
cta.routines.repack_report.soft_timeout 30

# User active queue cleanup [FOR USE ONLY WITH RPMS BASED ON POSTGRES SCHEDULER BACKEND]
cta.routines.user_active_queue_cleanup.enabled true
cta.routines.user_active_queue_cleanup.batch_size 1000
cta.routines.user_active_queue_cleanup.age_for_collection 900

# Repack active queue cleanup [FOR USE ONLY WITH RPMS BASED ON POSTGRES SCHEDULER BACKEND]
cta.routines.repack_active_queue_cleanup.enabled true
cta.routines.repack_active_queue_cleanup.batch_size 1000
cta.routines.repack_active_queue_cleanup.age_for_collection 900

# User pending queue cleanup [FOR USE ONLY WITH RPMS BASED ON POSTGRES SCHEDULER BACKEND]
cta.routines.user_pending_queue_cleanup.enabled true
cta.routines.user_pending_queue_cleanup.batch_size 1000
cta.routines.user_pending_queue_cleanup.age_for_collection 900

# Repack pending queue cleanup [FOR USE ONLY WITH RPMS BASED ON POSTGRES SCHEDULER BACKEND]
cta.routines.repack_pending_queue_cleanup.enabled true
cta.routines.repack_pending_queue_cleanup.batch_size 1000
cta.routines.repack_pending_queue_cleanup.age_for_collection 900

# Scheduler internal maintenance cleanup [FOR USE ONLY WITH RPMS BASED ON POSTGRES SCHEDULER BACKEND]
cta.routines.scheduler_maintenance_cleanup.enabled true
cta.routines.scheduler_maintenance_cleanup.batch_size 1000
cta.routines.scheduler_maintenance_cleanup.age_for_deletion 1209600


#
# Health endpoints. Spins up a local http server with /health/ready and /health/live endpoints
#

# Whether to enable the health server or not
cta.health_server.enabled false
# Where to accept connections from. By default accept only from localhost (127.0.0.1)
# Set to 0.0.0.0 to accept connections from anywhere. Set to the socket path if using Unix Domain Sockets (*.sock)
# When using Unix Domain Sockets, the port value will be unused
# cta.health_server.host /run/cta/cta-maintd/health.sock
cta.health_server.host 127.0.0.1
# What port to expose the health server on. Note that multiple processes running on the same host cannot share the same port
cta.health_server.port 8080


####################################
# Telemetry
####################################

cta.telemetry.config /etc/cta/cta-otel.yaml
