<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />

    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/logviewer.css" rel="stylesheet" />
    <link href="/static/css/jquery.dataTables.css" rel="stylesheet" />

    <script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/logviewer-scripts.js"></script>

    {% block extrahead %}{% endblock %}

    <title>{% block title %}CASTOR DLF{% endblock %}</title>
  </head>
  <body>
    {% include "logviewer/searchbar.html" %}
    {% block content %}{% endblock %}
  </body>
</html>
