html {
    font-family: arial, helvetica, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

img {
    border: none;
}

a.accordion-toggle {
    border: none;
    margin: 0px;
}
a.accordion-toggle:hover {
    border: none;
}
a.accordion-toggle:visited {
    border: none;
}
a.accordion-toggle:active {
    border: none;
}
a.accordion-toggle.current {
    color: #f77b21;
}

a.metric.current {
    color: #f77b21;
    border-bottom: 1px dotted;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px dotted black;
}

a:hover {
    color: #f77b21;
    border-bottom:1px dotted #f77b21;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a.refresh-plot {
    border:none;
}

p {
    padding: 5px;
}

li.rpyc-status {
    margin-top: 15px;
}

li.rpyc-status img {
    vertical-align:middle;
    width:20px;
}

.rpyc-up {
    color: green;
}

.rpyc-down {
    color: red;
    font-weight: bold;
}

table#sls {
    margin: 0px auto;
    border-collapse: collapse;
}

table#sls tr {
}

table#sls th {
    background-color: #eee;
    font-size: xx-large;
    padding: 10px;
    border: 1px solid #fff;
}

table#sls td {
    background-color: #eee;
    padding: 10px;
    border: 1px solid #fff;
}


iframe {
    margin: 0px auto;
}

#sidebar {
    width: 250px;
    float: left;
    background-color: transparent;
    border: 1px solid #CCC;
    margin: 0px 0px 0px 10px;
    overflow: hidden;
}

#sidebar-content {
    padding: 0px;
}

#sidebar h1 {
    background-color: #CCC;
    padding: 3px 5px 0px 5px;
    margin: 13px 0px 0px 0px;
}

#sidebar ul {
    padding-left:0px;
    list-style-type:none;
    margin: 10px 10px 0 10px ;
}

#sidebar li {
    padding-bottom: 5px;
}

#sidebar #logo a {
    border: none;
}

#main {
    margin: 10px 10px 10px 272px;
}

#header {
    height: 65px;
    margin-bottom: 10px;
    background-color: transparent; 
    border: 1px solid #CCC;
    padding-left: 5px;
    overflow: hidden;
    min-width:700px;
}


#content {
    border: 1px solid #CCC;
    min-width: 700px;
}

#messages {
    z-index: 999;
    position:absolute;
    border:10px solid #CCCCCC;
    top:25%;
    left:50%;
    margin-left:-100px;
    width:200px;
    background-color:white;
    padding: 30px;
    display:none;
}

div.metric_container {
    overflow: hidden;
}

div.metric-display {
    clear:left;
}

div.metric-display img {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

div.filter-container {
    height: 50px;
    margin: 5px;
    width: 450px;
    float: left;
}

div.advanced-filter {
   display: none;
}

div.advanced-filter input[type="text"] {
    height: 26px;
}

div.metric-options {
}

div.plot-options {
    height: 50px;
    margin: 5px;
    float: left;
}

div.plot-misc {
    height: 50px;
    margin: 5px;
    float: right;
    overflow: hidden;
}

div.metric-info {
    padding: 5px;
}

div.metric-info-text {
    display: none;
}


div.quick-filter input.btn {
    vertical-align: middle;
}

a.refresh-plot img:hover {
    transform:rotate(20deg);
    -ms-transform:rotate(20deg); /* IE 9 */
    -moz-transform:rotate(20deg); /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari and Chrome */
    -o-transform:rotate(20deg); /* Opera */
}


select {
    width: 90px;
    margin-right: 10px;
}

.accordion {
    margin-bottom: 0px;
}

.accordion-heading .accordion-toggle {
    padding: 8px 10px;
    font-size: 14px;
}

.accordion-group {
    border: 0px;
    border-top: 1px solid #CCC;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0px -1px;
}

.accordion-inner {
    padding: 0 0 10px 10px;
    border-top: 1px dashed #E5E5E5;
}

.accordion + h1 {
    margin-top: 0px !important;
}


select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
    margin-bottom: 0px;
}
