# Container image that user would like to use if chart is used on its own
image:
imagePullSecret:

library:
  type: ""
  name: ""
  device: ""
  drivenames: []
  drivedevices: []
  driveserials: []
  tapes: []

conf:
  rmcd:
    coreFileLimit: "unlimited"
    options: "/dev/smc"
  taped:
    bufferSizeBytes: 262144
    bufferCount: 200
    mountCriteria: "2000000, 100"
    watchdogIdleSessionTimer: 2 # Make tape servers more responsive, thus improving CI test speed
    useEncryption: "no"
    tapeCacheMaxAgeSecs: 1
    retrieveQueueCacheMaxAgeSecs: 1
    secProtocol: "sss"
    secSssktPath: "/etc/cta"
    ctaTapedSss: "cta-taped.sss.keytab"
  general:
    instanceName: "CI"
    schedulerBackendName: "VFS"

tpsrv:
  replicaCount: 1
  containers:
  - name: rmcd
    isPriviliged: true
    command: ['/opt/run/bin/rmcd.sh']
    args: ["none"]
    env:
    - name: MY_CONTAINER
      value: "rmcd"
    - name: TERM
      value: "xterm"
    volumeMounts:
    - mountPath: /shared
      name: shared
    - mountPath: /mnt/logs
      name: logstorage

  - name: taped
    isPriviliged: true
    command: ["/bin/sh", "-c"]
    # Not moving chown here due to the fact that the user might not yet exists
    args:
    - |
      cat /tmp/dump/cta/cta-tpsrv-tmp.sss.keytab > /etc/cta/cta-taped.sss.keytab;
      chmod 600 /etc/cta/cta-taped.sss.keytab;
      /opt/run/bin/taped.sh;
    env:
    - name: MY_CONTAINER
      value: "taped"
    - name: eoshost
      value: "mgm"
    - name: TERM
      value: "xterm"
    volumeMounts:
    - mountPath: /shared
      name: shared
    - mountPath: /etc/config/eos
      name: eosconfig
    - mountPath: /mnt/logs
      name: logstorage
    - mountPath: /tmp/dump/cta/cta-tpsrv-tmp.sss.keytab
      name: tape-sss
      subPath: cta-tpsrv-tmp.sss.keytab
  volumes:
  - name: shared
    hostPath:
      path: /opt/cta
  - name: eosconfig
    configMap:
      name: eos-config-base
  - name: logstorage
    persistentVolumeClaim:
      claimName: claimlogs
  - name: tape-sss
    secret:
      secretName: tpsrv-sss-keytab
