apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    config: eoscta
  name: castor-migration
  namespace: {{.Release.Namespace}}
data:
  #eos.token must be the same as in client.sh
  castor-migration.conf: |
    castor.db_login               oracle:castor/<password>@castor
    castor.json                   true
    castor.max_num_connections    1
    castor.batch_size             100
    castor.prefix                 /castor/cern.ch
    eos.dry_run                   false
    eos.prefix                    /eos/grpctest
    eos.endpoint                  localhost:50051
    eos.token                     migration-test-token