apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    config: eoscta
  name: eos-config-quarkdb
  namespace: {{.Release.Namespace}}
data:
  xrootd-quarkdb.cfg: |
    xrd.port 7777
    xrd.protocol redis:7777 /usr/lib64/libXrdQuarkDB.so
    redis.mode standalone
    redis.database /var/lib/quarkdb/quarkdb1
    redis.password_file  /etc/eos.keytab.xrootd
