# Container image that user would like to use if chart is used on its own
image:
imagePullSecret:
nameOverride: ctafrontend
isPriviliged: true

conf:
  # TODO: should this be here?
  catalogue:
    numberOfConnections: 10

  frontend:
    instanceName: "CI"
    schedulerBackendName: "VFS_Sched"
    archiveFileMaxSizeGb: 1000
    logUrl: "file:/var/log/cta/cta-frontend.log"
    # repackBufferUrl: "root://ctaeos//eos/ctaeos/repack"

  schedulerdb:
    numberOfThreads: 500
    threadStackSizeMb: 1
    enableRepackRequests: "on"
    enableUserRequests: "on"
    tapeCacheMaxAgeSecs: 1
    retrieveQueueCacheMaxAgeSecs: 1

  logger:
    # logLevel: "DEBUG"
    logFormat: "json"
    ssiLogLevel: "warning"

  verification:
    mountPolicy: "verification"

  ns:
    config: "/etc/cta/eos.grpc.keytab"

  xrootd:
    # trace: "debug"
    async: "off"
    port: 10955

  security:
    krb5: "/etc/cta/cta-frontend.krb5.keytab cta/cta-frontend@TEST.CTA"
    sss: "/etc/cta/eos.sss.keytab"
    allowedProtocols: "sss krb5"


# Changes the entrypoint of the container's image to the script and provide arguments if needed
customEntrypoint:
  command: ["/bin/sh", "-c"]
  args:
  - |
    cat /etc/cta/eos-tmp.sss.keytab > /etc/cta/eos.sss.keytab;
    chmod 400 /etc/cta/eos.sss.keytab;
    /opt/run/bin/ctafrontend.sh;
# Additional environment variables
env:
- name: TERM
  value: "xterm"

# defines service ports for the pod
service:
  ports:
  - name: ctafrontend
    port: 10955
    protocol: TCP

# defines all of the volumes consumed by pod
volumes:
- name: shared
  hostPath:
    path: /opt/cta
# - name: myobjectstore
#   configMap:
#     name: objectstore-config
# - name: mydatabase
#   configMap:
#     name: database-config
- name: mylibrary
  configMap:
    name: library-config
- name: logstorage
  persistentVolumeClaim:
    claimName: claimlogs
- name: eosctaconfig
  configMap:
    name: eos-grpc-keytab
- name: keytab
  secret:
    secretName: cta-frontend-keytab
- name: sss-keytab
  secret:
    secretName: frontend-sss-keytab
- name: krb5-config-volume
  configMap:
    name: krb5-config

volumeMounts:
- mountPath: /shared
  name: shared
# - mountPath: /etc/config/objectstore
#   name: myobjectstore
# - mountPath: /etc/config/database
#   name: mydatabase
- mountPath: /etc/config/library
  name: mylibrary
- mountPath: /mnt/logs
  name: logstorage
- mountPath: /etc/cta/eos.grpc.keytab
  subPath: eos.grpc.keytab
  name: eosctaconfig
- mountPath: /etc/cta/cta-frontend.krb5.keytab
  name: keytab
  subPath: cta-frontend.krb5.keytab
- mountPath: /etc/cta/eos-tmp.sss.keytab
  name: sss-keytab
  subPath: eos-tmp.sss.keytab
- mountPath: /etc/krb5.conf
  name: krb5-config-volume
  subPath: krb5.conf


# readiness probe job is to mark a pod as ready when exactly all of the files are prepared.
readinessProbe:
  commandsAtRuntime: [ "chown", "cta", "/etc/cta/eos.sss.keytab"]
  delay: 10
  failureTolerance: 10
# Ports opened in container
ports:
- containerPort: 10955
  name: ctafrontend
  protocol: TCP
