# Load the CTA SSI and OFS plugins
xrootd.fslib libXrdSsi.so libXrdCtaOfs.so

# Specify which paths are handled by the OFS plugin
#
# Y3Rh is the Base64 encoding of cta, so this string appears at the beginning
# of all cta admin commands
ssi.fspath /Y3Rh
# L3Vzci9iaW4vY3Rh is Base64 encoding of /usr/bin/cta which appears at
# the beginning of commands called from the EOS WFE bash script
ssi.fspath /L3Vzci9iaW4vY3Rh

# Load the SSI module
ssi.svclib libXrdSsiCta.so

# Use the security module
xrootd.seclib libXrdSec.so

# Protocol specification
# The xroot server process needs to be able to read the keytab file
sec.protocol krb5 /etc/cta-frontend.krb5.keytab cta/cta-frontend@TEST.CTA
sec.protocol sss -s /etc/ctafrontend_SSS_s.keytab -c /etc/ctafrontend_SSS_c.keytab
#sec.protocol unix

# Only Kerberos 5 and sss are allowed
sec.protbind * only sss krb5

# Turn off asynchronous i/o
xrootd.async off

# Use a port other than 1094, already used by EOS xroot server
xrd.port 10955

# Export the SSI resource
all.export /ctafrontend nolock r/w

# Export the OFS resource, specified in ssi.fspath above.
#
# There can be more than one of these; anything that starts with the prefix
# will go to the the underlying file system. Note that this prefix cannot be
# a substring of '/ctafrontend', so it is not possible to simply export '/'.
all.export /Y3Rh
all.export /L3Vzci9iaW4vY3Rh

