# @project      The CERN Tape Archive (CTA)
# @copyright    Copyright © 2015-2022 CERN
# @license      This program is free software, distributed under the terms of the GNU General Public
#               Licence version 3 (GPL Version 3), copied verbatim in the file "COPYING". You can
#               redistribute it and/or modify it under the terms of the GPL Version 3, or (at your
#               option) any later version.
#
#               This program is distributed in the hope that it will be useful, but WITHOUT ANY
#               WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
#               PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
#               In applying this licence, CERN does not waive the privileges and immunities
#               granted to it by virtue of its status as an Intergovernmental Organization or
#               submit itself to any jurisdiction.
################################################################################
#
# CTA Sample Configuration File
#
################################################################################

# The log mask.  Logs with a level lower than this value will be masked.
# Possible values are:
#   EMERG
#   ALERT
#   CRIT
#   ERR
#   WARNING
#   NOTICE
#   INFO
#   DEBUG
#   USERERR
# Please note that the USERERR log level is equivalent to NOTICE because it is a convention of CTA to use log level NOTICE to label user errors.
# taped LogMask INFO
#
# Define how many memory buffers should the CTA tape daemon use (compile time buffer size value is 5 MB) on a particular node (depends on physical memory).
# taped BufferCount 5000
#
# Use Recommended Access Ordering if available.
# taped UseRAO yes
#
# These options allow to trigger a software RAO algorithm on LTO tape drives.
# taped RAOLTOAlgorithm sltf
# taped RAOLTOAlgorithmOptions cost_heuristic_name:cta
#
# Disable Repack management.
# taped DisableRepackManagement yes
#
# Disable Maintenance process.
# taped DisableMaintenanceProcess yes
#
# Enable encryption
# taped UseEncryption yes
