# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

# See https://monit.docs.cern.ch/other/metrics/

# Note that this values can be used in combination with other values files
frontend:
  xrd:
    conf:
      telemetry:
        enabled: true
        retainInstanceIdOnRestart: false
        metrics:
          backend: "OTLP_HTTP"
          exportInterval: 1000
          exportTimeout: 500
          otlp:
            endpoint: "https://monit-otlp.cern.ch:4319"
            auth:
              basic:
                username: it_sd_tab_ci
                passwordSecret: monit-it-sd-tab-ci-pwd

  grpc:
    conf:
      telemetry:
        enabled: true
        retainInstanceIdOnRestart: false
        metrics:
          backend: "OTLP_HTTP"
          exportInterval: 1000
          exportTimeout: 500
          otlp:
            endpoint: "https://monit-otlp.cern.ch:4319"
            auth:
              basic:
                username: it_sd_tab_ci
                passwordSecret: monit-it-sd-tab-ci-pwd

taped:
  conf:
    telemetry:
      enabled: true
      retainInstanceIdOnRestart: true
      metrics:
        backend: "OTLP_HTTP"
        exportInterval: 1000
        exportTimeout: 500
        otlp:
          endpoint: "https://monit-otlp.cern.ch:4319"
          auth:
            basic:
              username: it_sd_tab_ci
              passwordSecret: monit-it-sd-tab-ci-pwd

maintd:
  extraEnv:
    - name: OTEL_EXPORTER_CREDENTIALS
      valueFrom:
        secretKeyRef:
          name: monit-it-sd-tab-ci-credentials
          key: credentials

  # Once all the services support declarative config
  # this will be moved to a global config for all services
  # The structure below follows the OpenTelemetry Declarative config format
  telemetryConfig: |
    file_format: "1.0-rc.1"
    disabled: false
    resource:
      attributes:
        - name: service.namespace
          value: {{ .Release.Namespace }}
          type: string
      attributes_list: "${CTA_OTEL_RESOURCE_ATTRIBUTES}"
      schema_url: https://opentelemetry.io/schemas/1.16.0

    meter_provider:
      readers:
        - periodic:
            interval: 1000
            timeout: 500
            exporter:
              otlp_http:
                endpoint: https://monit-otlp.cern.ch:4319/v1/metrics
                headers_list: "Authorization=Basic ${OTEL_EXPORTER_CREDENTIALS}"
                compression: gzip
                timeout: 1000
                encoding: protobuf
                temporality_preference: cumulative
                default_histogram_aggregation: explicit_bucket_histogram
