# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

global:
  securityContext:
    # These are set to True to allow attaching with gdb to the grpc frontend.
    allowPrivilegeEscalation: True
    privileged: True

frontend:
  grpc:
    enabled: true
  xrd:
    enabled: false

  # Enabled to allow debugging after a crash
  postRun:
    enabled: true
    script: |
      #!/usr/bin/bash
      echo "Process crashed. Sleeping..."
      sleep infinity

taped:
  # Enabled to allow debugging after a crash
  postRun:
    enabled: true
    script: |
      #!/usr/bin/bash
      echo "Process crashed. Sleeping..."
      sleep infinity

rmcd:
  # Enabled to allow debugging after a crash
  postRun:
    enabled: true
    script: |
      #!/usr/bin/bash
      echo "Process crashed. Sleeping..."
      sleep infinity

maintd:
  # Enabled to allow debugging after a crash
  postRun:
    enabled: true
    script: |
      #!/usr/bin/bash
      echo "Process crashed. Sleeping..."
      sleep infinity

cli:
  useGrpc: true
  conf:
    cta:
      endpoint: cta-frontend-grpc:10956
      grpc:
        cta_admin_auth_method: jwt
        jwt_token_path: /etc/grid-security/jwt-token-grpc
        tls:
          chain_cert_path: /etc/grpc-certs/ca.crt
          enabled: true

  initContainer:
    enabled: false

  extraEnv:
    - name: GRPC_SETUP_JWT
      value: "true"

  extraVolumes:
    volumeMounts:
      - name: grid-security
        mountPath: /etc/grid-security
        readOnly: false  # will place the token there so cannot be readOnly
      - name: grpc-certs
        mountPath: /etc/grpc-certs
        readOnly: true
    volumes:
      - name: grid-security
        emptyDir: {}
      - name: grpc-certs
        secret:
          secretName: ca-crt

client:
  useGrpc: true
  conf:
    cta:
      endpoint: cta-frontend-grpc:10956
      grpc:
        cta_admin_auth_method: jwt
        jwt_token_path: /etc/grid-security/jwt-token-grpc
        tls:
          chain_cert_path: /etc/grpc-certs/ca.crt
          enabled: true

  initContainer:
    enabled: false

  extraEnv:
    - name: GRPC_SETUP_JWT
      value: "true"

  extraVolumes:
    volumeMounts:
      - name: grid-security
        mountPath: /etc/grid-security
        readOnly: false
      - name: grpc-certs
        mountPath: /etc/grpc-certs
        readOnly: true
    volumes:
      - name: grid-security
        emptyDir: {}
      - name: grpc-certs
        secret:
          secretName: ca-crt
