# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

# Note that this values can be used in combination with other values files
frontend:
  xrd:
    conf:
      telemetry:
        enabled: true
        retainInstanceIdOnRestart: false
        metrics:
          backend: "OTLP_HTTP"
          exportInterval: 1000
          exportTimeout: 500
          otlp:
            endpoint: "http://otel-opentelemetry-collector:4318/v1/metrics"

  grpc:
    conf:
      telemetry:
        enabled: true
        retainInstanceIdOnRestart: false
        metrics:
          backend: "OTLP_HTTP"
          exportInterval: 1000
          exportTimeout: 500
          otlp:
            endpoint: "http://otel-opentelemetry-collector:4318/v1/metrics"

taped:
  conf:
    telemetry:
      enabled: true
      retainInstanceIdOnRestart: true
      metrics:
        backend: "OTLP_HTTP"
        exportInterval: 1000
        exportTimeout: 500
        otlp:
          endpoint: "http://otel-opentelemetry-collector:4318/v1/metrics"

maintd:
  # Once all the services support declarative config
  # this will be moved to a global config for all services
  # Note that this just verbatim dumps this config in the maintd config
  telemetry: |
    file_format: "1.0-rc.1"
    disabled: false
    resource:
      attributes:
        - name: service.namespace
          value: {{ .Release.Namespace }}
          type: string
      attributes_list: "${CTA_OTEL_RESOURCE_ATTRIBUTES}"
      schema_url: https://opentelemetry.io/schemas/1.16.0

    meter_provider:
      readers:
        - periodic:
            interval: 1000
            timeout: 500
            exporter:
              otlp_http:
                endpoint: http://otel-opentelemetry-collector:4318/v1/metrics
                timeout: 1000
                encoding: protobuf
                temporality_preference: cumulative
                default_histogram_aggregation: explicit_bucket_histogram
