# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

frontend:
  xrd:
    enabled: true

  # Enabled to allow debugging after a crash
  postRun:
    enabled: true
    script: |
      #!/usr/bin/bash
      echo "Process crashed. Sleeping..."
      sleep infinity

tpsrv:
  # Enabled to allow debugging after a crash
  postRun:
    enabled: true
    script: |
      #!/usr/bin/bash
      echo "Process crashed. Sleeping..."
      sleep infinity

maintd:
  # Enabled to allow debugging after a crash
  postRun:
    enabled: true
    script: |
      #!/usr/bin/bash
      echo "Process crashed. Sleeping..."
      sleep infinity
