# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

global:

  # With the /var/log custom mounts, we need to be both priviledged and allowPrivilegeEscalation
  securityContext:
    allowPrivilegeEscalation: True
    privileged: True

  extraObjects:
    - |
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: logstorage-pvc
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: fast-ssd
        resources:
          requests:
            storage: 50Gi

  # It should be noted that many logs also go to stdout which is still written to /var/log on the node itself
  # So this means not all log-related writes go to an SSD
  extraVolumes:
    volumes:
      - name: logstorage
        persistentVolumeClaim:
          claimName: logstorage-pvc
      - name: coredumps
        emptyDir: {}
    volumeMounts:
      - name: logstorage
        mountPath: /mnt/logs
      - name: coredumps
        mountPath: /var/log/tmp

frontend:
  preRun:
    enabled: true
    # Mount /var/log contents in /mnt/logs so that the fluentd can consume it
    script: |
      #!/bin/bash
      LOGMOUNT=/mnt/logs
      PV_PATH=""
      if [[ "-${MY_CONTAINER}-" != "--" ]]; then
        PV_PATH="${LOGMOUNT}/${MY_NAME}/${MY_CONTAINER}"
      else
        PV_PATH="${LOGMOUNT}/${MY_NAME}"
      fi
      mkdir -p ${PV_PATH}
      echo "Copying initial /var/log content to ${PV_PATH}"
      cd /var/log
      tar -c . | tar -C ${PV_PATH} -xv
      echo "Mounting logs volume ${PV_PATH} in /var/log"
      mount --bind ${PV_PATH} /var/log

taped:
  preRun:
    enabled: true
    # Mount /var/log contents in /mnt/logs so that the fluentd can consume it
    script: |
      #!/bin/bash
      LOGMOUNT=/mnt/logs
      PV_PATH=""
      if [[ "-${MY_CONTAINER}-" != "--" ]]; then
        PV_PATH="${LOGMOUNT}/${MY_NAME}/${MY_CONTAINER}"
      else
        PV_PATH="${LOGMOUNT}/${MY_NAME}"
      fi
      mkdir -p ${PV_PATH}
      echo "Copying initial /var/log content to ${PV_PATH}"
      cd /var/log
      tar -c . | tar -C ${PV_PATH} -xv
      echo "Mounting logs volume ${PV_PATH} in /var/log"
      mount --bind ${PV_PATH} /var/log
  conf:
    taped:
      bufferCount: 10000

maintd:
  preRun:
    enabled: true
    script: |
      #!/bin/bash
      LOGMOUNT=/mnt/logs
      PV_PATH=""
      if [ "-${MY_CONTAINER}-" != "--" ]; then
        PV_PATH="${LOGMOUNT}/${MY_NAME}/${MY_CONTAINER}"
      else
        PV_PATH="${LOGMOUNT}/${MY_NAME}"
      fi
      mkdir -p ${PV_PATH}
      echo "Copying initial /var/log content to ${PV_PATH}"
      cd /var/log
      tar -c . | tar -C ${PV_PATH} -xv
      echo "Mounting logs volume ${PV_PATH} in /var/log"
      mount --bind ${PV_PATH} /var/log
  routines:
    # Note that the snake_case version of all these options (including the names)
    # should match the corresponding names in the maintd conf file
    # So diskReportArchive:softTimeout will map to cta.routines.disk_report_archive.soft_timeout
    # To disable a routine, set replicas to 0
    diskReportArchive:
      replicas: 1
      sleepInterval: 1000
      batchSize: 1200
      softTimeout: 30
    diskReportRetrieve:
      replicas: 1
      sleepInterval: 1000
      batchSize: 1200
      softTimeout: 30
    repackExpand:
      replicas: 0
      sleepInterval: 10000
      maxToToExpand: 2
    repackReport:
      replicas: 0
      sleepInterval: 10000
      softTimeout: 30
