# Load the plugin XrdCtaOfs
xrootd.fslib libXrdCtaOfs.so

# Use the security module
xrootd.seclib libXrdSec.so

# Protocol specification
# The xroot server process needs to be able to read the keytab file
#sec.protocol krb5 /etc/krb5.keytab.cta host/<host>@CERN.CH
#sec.protocol sss -s /var/spool/xrootd/.xrd/sss.keytab -c /tmp/sss.keytab
sec.protocol unix

# Only Kerberos 5 and sss are allowed
#sec.protbind * only sss
sec.protbind 172.17.0* only unix

# Allow copying from absolute paths
all.export /

# Turn off asynchronous i/o
xrootd.async off

# Use a port other than 1094, already used by EOS xroot server
xrd.port 10955

