# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=CERN Tape Archive (CTA) rmcd service
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
User=cta
Group=tape

RuntimeDirectory=cta/rmcd
RuntimeDirectoryMode=0750
LogsDirectory=cta cta/old
LogsDirectoryMode=0755

ExecStart=/usr/bin/cta-rmcd --config=/etc/cta/cta-rmcd.toml --config-strict --runtime-dir=/run/cta/rmcd --log-file=/var/log/cta/cta-rmcd.log

LimitCORE=infinity
OOMScoreAdjust=-10
Restart=on-failure
RestartSec=5
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
