[Unit]
Description=CERN Tape Archive (CTA) acsd daemon
After=syslog.target network-online.target

[Service]
ExecStart=/usr/bin/cta-acsd
LimitCORE=infinity
Type=forking
Restart=no

[Install]
WantedBy=default.target
