{% extends "cockpit/base.html" %}
{% block content %}
<div id="home">
<br /><img src="http://lemon.cern.ch/lemon-web/index.php?target=get_rrd_graph&graph_type=main&width=370&height=100&graph_id=1&type=host&entity=c2alice%25alicedisk&is_host=0&location=clusters" />
<br /><img src="http://lemon.cern.ch/lemon-web/index.php?target=get_rrd_graph&graph_type=main&width=370&height=100&graph_id=1&type=host&entity=c2alice%25t0alice&is_host=0&location=clusters" />
<br /><img src="http://lemon.cern.ch/lemon-web/index.php?target=get_rrd_graph&graph_type=main&width=370&height=100&graph_id=1&type=host&entity=c2alice%25alimdc&is_host=0&location=clusters" />

<hr />/afs/cern.ch/user/l/lamanc3/castorops/opscheckout/trunk/CERN-procedures/lemon2cockpit.py running on: lxadm11.cern.ch Wed Nov  7 11:53:52 2012
</div>
{% endblock %}