{% extends "cockpit/base.html" %}
{% block content %}
<div id="home">
<br /><img src="http://lemon.cern.ch/lemon-web/index.php?target=get_rrd_graph&graph_type=main&width=370&height=100&graph_id=1&type=host&entity=c2public%25dteam&is_host=0&location=clusters" />
<br /><img src="http://lemon.cern.ch/lemon-web/index.php?target=get_rrd_graph&graph_type=main&width=370&height=100&graph_id=1&type=host&entity=c2public%25compassuser&is_host=0&location=clusters" />
<br /><img src="http://lemon.cern.ch/lemon-web/index.php?target=get_rrd_graph&graph_type=main&width=370&height=100&graph_id=1&type=host&entity=c2public%25amsuser&is_host=0&location=clusters" />
<br /><img src="http://lemon.cern.ch/lemon-web/index.php?target=get_rrd_graph&graph_type=main&width=370&height=100&graph_id=1&type=host&entity=c2public%25na62&is_host=0&location=clusters" />
<br /><img src="http://lemon.cern.ch/lemon-web/index.php?target=get_rrd_graph&graph_type=main&width=370&height=100&graph_id=1&type=host&entity=c2public%25ilcdata&is_host=0&location=clusters" />
<br /><img src="http://lemon.cern.ch/lemon-web/index.php?target=get_rrd_graph&graph_type=main&width=370&height=100&graph_id=1&type=host&entity=c2public%25amscdr&is_host=0&location=clusters" />
<br /><img src="http://lemon.cern.ch/lemon-web/index.php?target=get_rrd_graph&graph_type=main&width=370&height=100&graph_id=1&type=host&entity=c2public%25cdr&is_host=0&location=clusters" />
<br /><img src="http://lemon.cern.ch/lemon-web/index.php?target=get_rrd_graph&graph_type=main&width=370&height=100&graph_id=1&type=host&entity=c2public%25na61&is_host=0&location=clusters" />
<br /><img src="http://lemon.cern.ch/lemon-web/index.php?target=get_rrd_graph&graph_type=main&width=370&height=100&graph_id=1&type=host&entity=c2public%25compasscdr&is_host=0&location=clusters" />
<br /><img src="http://lemon.cern.ch/lemon-web/index.php?target=get_rrd_graph&graph_type=main&width=370&height=100&graph_id=1&type=host&entity=c2public%25compassmdst&is_host=0&location=clusters" />
<br /><img src="http://lemon.cern.ch/lemon-web/index.php?target=get_rrd_graph&graph_type=main&width=370&height=100&graph_id=1&type=host&entity=c2public%25compasschunks&is_host=0&location=clusters" />
<br /><img src="http://lemon.cern.ch/lemon-web/index.php?target=get_rrd_graph&graph_type=main&width=370&height=100&graph_id=1&type=host&entity=c2public%25na48goldcmp&is_host=0&location=clusters" />
<br /><img src="http://lemon.cern.ch/lemon-web/index.php?target=get_rrd_graph&graph_type=main&width=370&height=100&graph_id=1&type=host&entity=c2public%25na48&is_host=0&location=clusters" />
<br /><img src="http://lemon.cern.ch/lemon-web/index.php?target=get_rrd_graph&graph_type=main&width=370&height=100&graph_id=1&type=host&entity=c2public%25default&is_host=0&location=clusters" />

<hr />/afs/cern.ch/user/l/lamanc3/castorops/opscheckout/trunk/CERN-procedures/lemon2cockpit.py running on: lxadm11.cern.ch Wed Nov  7 11:53:57 2012
</div>
{% endblock %}