.spinner
{
     width:40px;
     background-color:#1F1F1F;
     color:#7f7fff;
     border-color:#888888;
}

.spinnerarrow
{
     background-color:#1F1F1F;
     color:#ffffff;
     font-size:7px;
     width:20px;
     height:13px;
     border-color:#888888;
}
