Source: castor
Section: science
Priority: optional
Maintainer: CERN CASTOR Team <castor.support@cern.ch>

Package: castor-sacct
Architecture: any
Depends: logrotate
Description: castor (Cern Advanced STORage system)
 Contains a logrotate script for accounting files

Package: castor-config
Architecture: any
Recommends: castor-lib, castor-lib-oracle
Description: castor (Cern Advanced STORage system)
 castor.conf example

Package: castor-devel
Architecture: any
Depends: castor-lib
XBS-Group: Client
Description: castor (Cern Advanced STORage system)
 API

Package: castor-expert-server
Architecture: any
Depends: logrotate
Description: castor (Cern Advanced STORage system)
 Expert server, used to trigger policies

Package: castor-gc-server
Architecture: any
Depends: logrotate
Description: castor (Cern Advanced STORage system)
 Garbage collector, running on every worker node

Package: castor-hsmtools
Architecture: any
Depends: cx_Oracle
Build-Depends: zlib-devel
Description: castor (Cern Advanced STORage system)
 HSM Administration tools e.g. reclaim

Package: castor-dbtools
Architecture: any
Description: castor (Cern Advanced STORage system)
 DB Administration tools

Package: castor-job
Architecture: any
Depends: logrotate
Build-Depends: libattr-devel, LSF-GLIBC-2.3-lib, LSF-GLIBC-2.3-devel
Description: castor (Cern Advanced STORage system)
 The job giving user access to data on the worder nodes

Package: castor-jobmanager-server
Architecture: any
Depends: logrotate, LSF-GLIBC-2.3-devel
Description: castor (Cern Advanced STORage system)
 The Job Manager server used to submit jobs into the scheduler

Package: castor-lib
Architecture: any
Build-Depends: curl-devel, python
Build-Depends-Conditional:
# For uuid/uuid.h
%if 0%{?rhel} >= 6
BuildRequires: libuuid-devel
%else
BuildRequires: e2fsprogs-devel
%endif
XBS-Obsoletes: castor-sysconfig, castor-rtcopy-client, castor-lib-compat, castor-dlf-server, castor-doc, castor-commands, CASTOR-client, castor-stager-clientold, castor-rtcopy-messages, castor-tape-client
XBS-Group: Client
Description: castor (Cern Advanced STORage system)
 Static and shared libraries for end-users

Package: castor-lsf-plugin
Architecture: any
Depends: logrotate, python
Build-Depends: python-devel, LSF-GLIBC-2.3-lib, LSF-GLIBC-2.3-devel
Description: castor (Cern Advanced STORage system)
 Scheduler plugin for LSF (6.1 minimum) framework

Package: castor-lib-scheduler
Architecture: any
Depends: python, logrotate, python-daemon, rpyc
Description: castor (Cern Advanced STORage system)
 Low latency scheduling daemon for Castor, library package

Package: castor-scheduler
Architecture: any
Depends: python, logrotate, python-daemon, castor-dbtools, rpyc
Description: castor (Cern Advanced STORage system)
 Low latency scheduling daemon for Castor, central server package

Package: castor-scheduler-client
Architecture: any
Depends: python, logrotate, castor-dbtools
Description: castor (Cern Advanced STORage system)
 Low latency scheduling daemon for Castor, client package

Package: castor-diskserver-manager
Architecture: any
Depends: python, logrotate, python-daemon, castor-dbtools, rpyc
Description: castor (Cern Advanced STORage system)
 Disk server manager of CASTOR

Package: castor-lib-oracle
Architecture: any
Build-Depends: oracle-instantclient-devel
Description: castor (Cern Advanced STORage system)
 Static and shared libraries for Oracle access

Package: castor-ns-client
Architecture: any
XBS-Group: Client
Description: castor (Cern Advanced STORage system)
 Name server clients

Package: castor-ns-server
Architecture: any
Depends: logrotate, vdt_globus_essentials
Build-Depends: oracle-instantclient-precomp
Description: castor (Cern Advanced STORage system)
 Name server daemon

Package: castor-policies
Architecture: any
Depends: perl
Description: castor (Cern Advanced STORage system)
 Policies used by the expert system

Package: castor-rfio-client
Architecture: any
XBS-Group: Client
Description: castor (Cern Advanced STORage system)
 RFIO clients

Package: castor-rfio-server
Architecture: any
Depends: logrotate, vdt_globus_essentials
Build-Depends: xfsprogs-devel, libattr-devel, zlib-devel
Description: castor (Cern Advanced STORage system)
 RFIO server

Package: castor-rh-server
Architecture: any
Depends: logrotate, castor-lib-oracle, vdt_globus_essentials
Build-Depends: libmemcached-devel
Description: castor (Cern Advanced STORage system)
 Request Handler server

Package: castor-repack-server
Architecture: any
Depends: logrotate, castor-lib-oracle
Description: castor (Cern Advanced STORage system)
 Repack server

Package: castor-repack-client
Architecture: any
Description: castor (Cern Advanced STORage system)
 Repack client

Package: castor-rmc-server
Architecture: any
Depends: logrotate
Description: castor (Cern Advanced STORage system)
 Remote Media Controller server

Package: castor-rmmaster-client
Architecture: any
Depends: castor-lib-monitor
Description: castor (Cern Advanced STORage system)
 Resource Monitoring Master clients

Package: castor-rmmaster-server
Architecture: any
Depends: logrotate, castor-lib-monitor, LSF-GLIBC-2.3-devel
Description: castor (Cern Advanced STORage system)
 Resource Monitoring Master server

Package: castor-rmnode-server
Architecture: any
Depends: logrotate, castor-lib-monitor
Description: castor (Cern Advanced STORage system)
 Resource Monitoring running on each worker node

Package: castor-rtcopy-server
Architecture: any
Depends: logrotate, zlib-devel
Description: castor (Cern Advanced STORage system)
 Remote Tape Copy server running on a tape server

Package: castor-rtcopy-clientserver
Architecture: any
Depends: logrotate, castor-lib-oracle
Description: castor (Cern Advanced STORage system)
 Remote Tape Copy Client Server running on top of a database.
 This will generate raw RTCOPY commands understood by the rtcopy-server
 running on tape server.

Package: castor-stager-client
Architecture: any
XBS-Group: Client
Description: castor (Cern Advanced STORage system)
 Stager clients

Package: castor-stager-server
Architecture: any
Depends: logrotate, castor-lib-oracle
Description: castor (Cern Advanced STORage system)
 Stager server

Package: castor-tape-tools
Architecture: any
Description: castor (Cern Advanced STORage system)
 Tape tools

Package: castor-tape-server
Architecture: any
Depends: logrotate
Build-Depends: stk-ssi, stk-ssi-devel
Description: castor (Cern Advanced STORage system)
 Tape server

Package: castor-upv-client
Architecture: any
XBS-Group: Client
Description: castor (Cern Advanced STORage system)
 User Privilege clients

Package: castor-upv-server
Architecture: any
Depends: logrotate
Build-Depends: oracle-instantclient-precomp
Description: castor (Cern Advanced STORage system)
 User Privilege server

Package: castor-vdqm2-client
Architecture: any
XBS-Obsoletes: castor-vdqm-client
XBS-Group: Client
Description: castor (Cern Advanced STORage system)
 Volume Drive and Queue Manager clients version 2

Package: castor-vdqm2-server
Architecture: any
XBS-Obsoletes: castor-vdqm-server
Depends: logrotate, castor-lib-oracle, castor-vdqm2-lib-oracle
Description: castor (Cern Advanced STORage system)
 Volume Drive and Queue Manager server version 2

Package: castor-vdqm2-lib-oracle
Architecture: any
Depends: logrotate
Description: castor (Cern Advanced STORage system)
 Volume Drive and Queue Manager server version 2 library

Package: castor-vmgr-client
Architecture: any
XBS-Group: Client
Description: castor (Cern Advanced STORage system)
 Volume Manager clients

Package: castor-vmgr-server
Architecture: any
Depends: logrotate
Build-Depends: oracle-instantclient-precomp
Description: castor (Cern Advanced STORage system)
 Volume Manager server

Package: castor-dlf-web
Architecture: any
Depends: php-oci8
Description: castor (Cern Advanced STORage system)
 Distributed Logging Facility Web Interface

Package: castor-lib-monitor
Architecture: any
Depends: castor-lib
Description: castor (Cern Advanced STORage system)
 Shared libraries for monitoring framework

Package: castor-lib-tape
Architecture: any
Depends: castor-lib
Build-Depends: python-devel
XBS-Obsoletes: castor-lib-policy, castor-lib-tapeutils
Description: castor (Cern Advanced STORage system)
 Shared utilities library for castor tape servers and command-line tools

Package: castor-gridftp-dsi-common
Architecture: any
Description: castor (Cern Advanced STORage system)
 Commonnalities between internal and external CASTOR2 gridftp2 DSI module

Package: castor-gridftp-dsi-int
Architecture: any
Depends: vdt_globus_data_server, vdt_globus_essentials, castor-gridftp-dsi-common
Build-Depends: libattr-devel, zlib-devel, vdt_packaging_fixes, gpt, globus-config, vdt_compile_globus_core, vdt_globus_essentials
Description: castor (Cern Advanced STORage system)
 Internal CASTOR2 gridftp2 DSI module

Package: castor-gridftp-dsi-ext
Architecture: any
Depends: castor-lib, xinetd, castor-gridftp-dsi-common, vdt_globus_data_server, vdt_globus_essentials
Build-Depends: vdt_packaging_fixes, gpt, globus-config, vdt_compile_globus_core, vdt_globus_essentials
Description: castor (Cern Advanced STORage system)
 External CASTOR2 gridftp2 DSI module

Package: castor-gridftp-dsi-xroot
Architecture: any
Depends: castor-lib, castor-gridftp-dsi-common, xrootd-server, vdt_globus_data_server, vdt_globus_essentials
Build-Depends: vdt_packaging_fixes, gpt, globus-config, vdt_compile_globus_core, vdt_globus_essentials, xrootd-server, xrootd-devel
Description: castor (Cern Advanced STORage system)
 External CASTOR2 gridftp2 DSI module with xroot support

Package: castor-mighunter-server
Architecture: any
Depends: logrotate, castor-lib-tape
Description: castor (Cern Advanced STORage system)
 Migration Hunter Daemon

Package: castor-rechandler-server
Architecture: any
Depends: logrotate, castor-lib-tape
Description: castor (Cern Advanced STORage system)
 Recall Handler Daemon

Package: castor-csec
Architecture: any
Depends: castor-lib, vdt_globus_essentials, glite-security-voms-api-c
Build-Depends: krb5-devel, openssl-devel, vdt_globus_sdk
Description: castor (Cern Advanced STORage system)
 Csec library

Package: castor-tapebridge-server
Architecture: any
Depends: logrotate, castor-lib-tape
XBS-Obsoletes: castor-aggregator-server
Description: castor (Cern Advanced STORage system)
 Tape Bridge Daemon

Package: castor-tapebridge-client
Architecture: any
Depends: logrotate, castor-lib-tape
XBS-Obsoletes: castor-aggregator-client
Description: castor (Cern Advanced STORage system)
 Tape Bridge Clients

Package: castor-logprocessor-server
Architecture: any
Depends: logrotate, cx_Oracle
Description: castor (Cern Advanced STORage system)
 Log Processor Daemon

Package: castor-tapegateway-server
Architecture: any
Depends: logrotate, castor-lib-oracle, castor-lib-tape
Description: castor (Cern Advanced STORage system)
 Tape Gateway Daemon

Package: castor-build-headers
Architecture: any
Description: castor (Cern Advanced STORage system)
 Header files required by the build system
