Source: castor
Section: science
Priority: optional
Maintainer: CERN CASTOR Team <castor.support@cern.ch>

Package: castor-sacct
Architecture: any
Depends: logrotate
Description: castor (Cern Advanced STORage system)
 Contains a logrotate script for accounting files

Package: castor-config
Architecture: any
Recommends: castor-lib, castor-lib-oracle
Description: castor (Cern Advanced STORage system)
 castor.conf example

Package: castor-devel
Architecture: any
Depends: castor-lib
XBS-Group: Client
Description: castor (Cern Advanced STORage system)
 API

Package: castor-gc-server
Architecture: any
Depends: logrotate
Description: castor (Cern Advanced STORage system)
 Garbage collector, running on every worker node

Package: castor-hsmtools
Architecture: any
Depends: cx_Oracle
Build-Depends: zlib-devel
Description: castor (Cern Advanced STORage system)
 HSM Administration tools e.g. reclaim

Package: castor-dbtools
Architecture: any
XBS-Obsoletes: castor-repack-client, castor-repack-server
Description: castor (Cern Advanced STORage system)
 DB Administration tools

Package: castor-job
Architecture: any
Depends: logrotate
Build-Depends: libattr-devel
Description: castor (Cern Advanced STORage system)
 The job giving user access to data on the worder nodes

Package: castor-lib
Architecture: any
Build-Depends: curl-devel, python, krb5-devel, openssl-devel
Build-Depends-Conditional:
# For uuid/uuid.h
%if 0%{?rhel} >= 6
BuildRequires: libuuid-devel
%else
BuildRequires: e2fsprogs-devel
%endif
XBS-Obsoletes: castor-sysconfig, castor-rtcopy-client, castor-lib-compat, castor-dlf-server, castor-doc, castor-commands, CASTOR-client, castor-stager-clientold, castor-rtcopy-messages, castor-tape-client
XBS-Group: Client
Description: castor (Cern Advanced STORage system)
 Static and shared libraries for end-users

Package: castor-transfer-manager
Architecture: any
Depends: python, logrotate, python-daemon, castor-dbtools, python-rpyc
Description: castor (Cern Advanced STORage system)
 Transfer manager daemon for Castor, central server package

Package: castor-transfer-manager-client
Architecture: any
Depends: python, logrotate, castor-dbtools
Description: castor (Cern Advanced STORage system)
 Transfer manager daemon for Castor, client package

Package: castor-diskserver-manager
Architecture: any
Depends: python, logrotate, python-daemon, python-rpyc, castor-job
Conflicts: castor-dbtools, castor-transfer-manager
Description: castor (Cern Advanced STORage system)
 Disk server manager of CASTOR

Package: castor-lib-oracle
Architecture: any
Build-Depends: oracle-instantclient-devel
Description: castor (Cern Advanced STORage system)
 Static and shared libraries for Oracle access

Package: castor-ns-client
Architecture: any
XBS-Group: Client
Description: castor (Cern Advanced STORage system)
 Name server clients

Package: castor-ns-server
Architecture: any
Depends: logrotate
Build-Depends: oracle-instantclient-precomp
Description: castor (Cern Advanced STORage system)
 Name server daemon

Package: castor-rfio-client
Architecture: any
XBS-Group: Client
Description: castor (Cern Advanced STORage system)
 RFIO clients

Package: castor-rfio-server
Architecture: any
Depends: logrotate
Build-Depends: xfsprogs-devel, libattr-devel, zlib-devel
Description: castor (Cern Advanced STORage system)
 RFIO server

Package: castor-rh-server
Architecture: any
Depends: logrotate, castor-lib-oracle
Build-Depends: libmemcached-devel >= 0.34
Description: castor (Cern Advanced STORage system)
 Request Handler server

Package: castor-rmc-server
Architecture: any
Depends: logrotate
Description: castor (Cern Advanced STORage system)
 Remote Media Controller server

Package: castor-rmmaster-client
Architecture: any
Depends: castor-lib-monitor
Description: castor (Cern Advanced STORage system)
 Resource Monitoring Master clients

Package: castor-rmmaster-server
Architecture: any
Depends: logrotate, castor-lib-monitor
Description: castor (Cern Advanced STORage system)
 Resource Monitoring Master server

Package: castor-rmnode-server
Architecture: any
Depends: logrotate, castor-lib-monitor
Description: castor (Cern Advanced STORage system)
 Resource Monitoring running on each worker node

Package: castor-rtcopy-server
Architecture: any
Depends: logrotate, zlib-devel
Description: castor (Cern Advanced STORage system)
 Remote Tape Copy server running on a tape server

Package: castor-stager-client
Architecture: any
XBS-Group: Client
Description: castor (Cern Advanced STORage system)
 Stager clients

Package: castor-stager-server
Architecture: any
Depends: logrotate, castor-lib-oracle
Description: castor (Cern Advanced STORage system)
 Stager server

Package: castor-tape-tools
Architecture: any
Description: castor (Cern Advanced STORage system)
 Tape tools

Package: castor-tape-server
Architecture: any
Depends: logrotate, stk-ssi
Conflicts: castor-tape-server-nostk
Build-Depends: stk-ssi-devel, stk-ssi
Description: castor (Cern Advanced STORage system)
 Tape server

Package: castor-tape-server-nostk
Architecture: any
Depends: logrotate
Description: castor (Cern Advanced STORage system)
 Tape server

Package: castor-upv-client
Architecture: any
XBS-Group: Client
Description: castor (Cern Advanced STORage system)
 User Privilege clients

Package: castor-upv-server
Architecture: any
Depends: logrotate
Build-Depends: oracle-instantclient-precomp
Description: castor (Cern Advanced STORage system)
 User Privilege server

Package: castor-vdqm2-client
Architecture: any
XBS-Obsoletes: castor-vdqm-client
XBS-Group: Client
Description: castor (Cern Advanced STORage system)
 Volume Drive and Queue Manager clients version 2

Package: castor-vdqm2-server
Architecture: any
XBS-Obsoletes: castor-vdqm-server
Depends: logrotate, castor-lib-oracle, castor-vdqm2-lib-oracle
Description: castor (Cern Advanced STORage system)
 Volume Drive and Queue Manager server version 2

Package: castor-vdqm2-lib-oracle
Architecture: any
Depends: logrotate
Description: castor (Cern Advanced STORage system)
 Volume Drive and Queue Manager server version 2 library

Package: castor-vmgr-client
Architecture: any
XBS-Group: Client
Description: castor (Cern Advanced STORage system)
 Volume Manager clients

Package: castor-vmgr-server
Architecture: any
Depends: logrotate
Build-Depends: oracle-instantclient-precomp
Description: castor (Cern Advanced STORage system)
 Volume Manager server

Package: castor-dlf-web
Architecture: any
Depends: php-oci8
Description: castor (Cern Advanced STORage system)
 Distributed Logging Facility Web Interface

Package: castor-lib-monitor
Architecture: any
Depends: castor-lib
Description: castor (Cern Advanced STORage system)
 Shared libraries for monitoring framework

Package: castor-lib-tape
Architecture: any
Depends: castor-lib
Build-Depends: python-devel
XBS-Obsoletes: castor-lib-policy, castor-lib-tapeutils
Description: castor (Cern Advanced STORage system)
 Shared utilities library for castor tape servers and command-line tools

Package: castor-gridftp-dsi-common
Architecture: any
Description: castor (Cern Advanced STORage system)
 Commonnalities between internal and external CASTOR2 gridftp2 DSI module

Package: castor-gridftp-dsi-int
Architecture: any
Depends: globus-gridftp-server, globus-common, castor-gridftp-dsi-common
Build-Depends: libattr-devel, zlib-devel, globus-gridftp-server-devel, globus-common-devel
Description: castor (Cern Advanced STORage system)
 Internal CASTOR2 gridftp2 DSI module

Package: castor-gridftp-dsi-ext
Architecture: any
Depends: castor-lib, xinetd, globus-gridftp-server, globus-common, castor-gridftp-dsi-common
Build-Depends: globus-gridftp-server-devel, globus-common-devel
Description: castor (Cern Advanced STORage system)
 External CASTOR2 gridftp2 DSI module

Package: castor-gridftp-dsi-xroot
Architecture: any
Depends: castor-lib, globus-gridftp-server, globus-common, castor-gridftp-dsi-common, xrootd-server, xrootd-client
Build-Depends: globus-gridftp-server-devel, globus-common-devel, xrootd-server, xrootd-client, xrootd-libs-devel, xrootd-client-devel
Description: castor (Cern Advanced STORage system)
 External CASTOR2 gridftp2 DSI module with xroot support

Package: castor-tapebridge-server
Architecture: any
Depends: logrotate, castor-lib-tape, castor-rtcopy-server = %{version}-%{release}
XBS-Obsoletes: castor-aggregator-server
Description: castor (Cern Advanced STORage system)
 Tape Bridge Daemon

Package: castor-tapebridge-client
Architecture: any
Depends: logrotate, castor-lib-tape
XBS-Obsoletes: castor-aggregator-client
Description: castor (Cern Advanced STORage system)
 Tape Bridge Clients

Package: castor-logprocessor-server
Architecture: any
Depends: logrotate, cx_Oracle
Description: castor (Cern Advanced STORage system)
 Log Processor Daemon

Package: castor-tapegateway-server
Architecture: any
Depends: logrotate, castor-lib-oracle, castor-lib-tape
Description: castor (Cern Advanced STORage system)
 Tape Gateway Daemon

Package: castor-build-headers
Architecture: any
Description: castor (Cern Advanced STORage system)
 Header files required by the build system

Package: castor-cockpit
Architecture: any
Depends: logrotate, python, python-rpyc, Django
Description: castor (Cern Advanced STORage system)
 Castor monitoring Cockpit

Package: castor-mae
Architecture: any
Depends: python, python-rpyc, python-dirq, python-messaging, python-simplejson
Description: castor (Cern Advanced STORage system)
 AI messaging consumer for the Metric Analysis Engine.

Package: castor-hbase-consumer
Architecture: any
Depends: python, python-dirq, python-messaging, python-simplejson
Description: castor (Cern Advanced STORage system)
 AI messaging consumer for HBase.
