# Global setup for CASTOR

# $Id: castor.example,v 1.1 2005/05/24 12:10:02 jdurand Exp $
# Copyright CERN/IT/ADC/CA 2004

# Compiler
[ -r /etc/sysconfig/castor_compiler ] && . /etc/sysconfig/castor_compiler

# Db
[ -r /etc/sysconfig/castor_db ] && . /etc/sysconfig/castor_db

# Paths
[ -r /etc/sysconfig/castor_paths ] && . /etc/sysconfig/castor_paths

# Environment
[ -r /etc/sysconfig/castor_env ] && . /etc/sysconfig/castor_env
