/*
 * Copyright (C) 1993-1999 by CERN/IT/PDP/DM
 * All rights reserved
 */

/*
 * @(#)Imake.tmpl,v 1.5 2004/06/09 08:45:47 CERN IT-PDP/DM   Jean-Philippe Baud
 */
#define COMM	#
#define NO	0
#define YES	1
#include <site.def>

#ifdef linux
#include <linux.cf>
#else
#ifdef __APPLE__
#include <apple.cf>
#else
#include <Win32.cf>
#endif
#endif

DEBUG = -O0 -g
CASTOR_ROOT?=$(shell pwd | sed -e 's=CASTOR2/.*$$=CASTOR2=' -e 's=trunk/.*$$=trunk=' -e 's=\(v2_1_[^/]*\)/.*$$=\1=' -e 's=\(castor-[0-9\-\.]*\)/.*$$=\1=')
CC += -fPIC -D_LARGEFILE64_SOURCE -Wall -Wextra -Werror
CXX += -fPIC -D_LARGEFILE64_SOURCE -Wall -Wextra -Werror
CXXFLAGS += -I$(CASTOR_ROOT) -I$(CASTOR_ROOT)/h $(DEBUG)
CFLAGS += $(CXXFLAGS)
CPPFLAGS += -pthread -DCTHREAD_POSIX -D_THREAD_SAFE -D_REENTRANT
LDFLAGS += -pthread

PERLLIBDIR = /usr/lib/perl/CASTOR

PYTHONLIBS = `python ${CASTOR_ROOT}/config/pycompile.py --libs`
PYTHONINC = `python ${CASTOR_ROOT}/config/pycompile.py --inc`
PYTHONCFLAGS = `python ${CASTOR_ROOT}/config/pycompile.py --cflags`
PYTHONLIBDIR = $(shell python -c "from distutils import sysconfig; print sysconfig.get_python_lib()")

BIN = InstallBinDir
ifneq ($(wildcard /etc/debian_version),)
  LIBDIR = /usr/lib
else
  LIBDIR = InstallLibDir
endif

#ifdef StagerSuperUser
STAGERSUPERUSER0 = StagerSuperUser
STAGERSUPERUSER  = -DSTAGERSUPERUSER=\"$(STAGERSUPERUSER0)\"
#endif
#ifdef StagerSuperGroup
STAGERSUPERGROUP0 = StagerSuperGroup
STAGERSUPERGROUP = -DSTAGERSUPERGROUP=\"$(STAGERSUPERGROUP0)\"
#endif

#include <Imake.rules>
#include <Project.tmpl>
#include INCLUDE_IMAKEFILE
