/*
 * Copyright (C) 1993-2004 by CERN/IT/ADC
 * All rights reserved
 */

/*
 * @(#)$RCSfile: Library.tmpl,v $ $Revision: 1.26 $ $Date: 2005/12/06 10:00:05 $ CERN IT-ADC/CA Jean-Damien Durand
 */

#include <Project.tmpl>
#include <LibraryDeps.tmpl>

/* ============================= */
/* Directories for the libraries */
/* ============================= */
#if BuildCommon
COMMONLIB = DepLibraryTargetName(common,common)
#endif
#if BuildCupvLibrary
UPVLIB = DepLibraryTargetName(upv,upv)
#endif
#if BuildMonitorLibrary
MONITORLIB = DepLibraryTargetName(monitor,monitor)
#endif
#if BuildMsgLibrary
MSGLIB = DepLibraryTargetName(msg,msg)
#endif
#if BuildNameServerLibrary
NSLIB = DepLibraryTargetName(ns,ns)
#endif
#if BuildRfioLibrary
RFIOLIB = DepLibraryTargetName(rfio,rfio)
#endif
#if BuildRmcLibrary
RMCLIB = DepLibraryTargetName(rmc,rmc)
#endif
#if BuildRtcopyLibrary
RTCOPYLIB = DepLibraryTargetName(rtcopy,rtcpapi)
#endif
#if BuildStageLibrary
STGLIB = DepLibraryTargetName(stager,stager)
#endif
#if BuildRmLibrary
RESOURCEMONITORINGLIB = DepLibraryTargetName(resourcemonitoring,resourcemonitoring)
#endif
#if BuildTapeLibrary
TAPELIB = DepLibraryTargetName(tape,tape)
#endif
#if BuildVdqmLibrary
VDQMLIB = DepLibraryTargetName(vdqm,vdqmapi)
#endif
#if BuildVolumeMgrLibrary
VMGRLIB = DepLibraryTargetName(vmgr,vmgr)
#endif
#if BuildDlfLibrary
DLFLIB = DepLibraryTargetName(dlf,dlf)
#endif
#if BuildExpertLibrary
EXPERTLIB = DepLibraryTargetName(expert,expert)
#endif
#if BuildCastorClientCPPLibrary
RHCLIENTLIB = DepLibraryTargetName(castor,castorClient)
#endif
#if BuildOraCpp
RHORALIB = DepLibraryTargetName(castor/db/ora,castorCommonOra)
CNVSLIB = DepLibraryTargetName(castor/db/cnv,castorCnvs)
#endif
#if BuildMyCpp
RHMYLIB = DepLibraryTargetName(castor/db/mysql,castorCommonMysql)
CNVSLIB = DepLibraryTargetName(castor/db/cnv,castorCnvs)
#endif
#if BuildPgCpp
RHPGLIB = DepLibraryTargetName(castor/db/pgsql,castorCommonPgsql)
CNVSLIB = DepLibraryTargetName(castor/db/cnv,castorCnvs)
#endif
#if BuildSecurity
SECURITYLIB = DepLibraryTargetName(security,security)
#endif
#if UseStorageTank
TANKLIB = DepLibraryTargetName(tank,castorTankPerfMon)
#endif
#if BuildVDQMCpp
#if BuildOraCpp
VDQMORALIB = DepLibraryTargetName(castor/db/ora,castorVdqmOra)
#endif
#endif
