/*
 * Copyright (C) 1993-2004 by CERN/IT/ADC
 * All rights reserved
 */

/*
 * @(#)$RCSfile: Library.tmpl,v $ $Revision: 1.13 $ $Date: 2004/09/15 17:18:29 $ CERN IT-PDP/DM   Jean-Philippe Baud
 */

#if BuildCopytapeServer
#if BuildStageClient != YES
#undef BuildStageClient
#define BuildStageClient	YES
#endif
#endif

#if BuildNewStageDaemon
#if BuildStageDaemon != YES
#undef BuildStageDaemon
#define BuildStageDaemon YES
#endif
#if BuildProtoCppStager != YES
#undef BuildProtoCppStager
#define BuildProtoCppStager YES
#endif
#endif

#if BuildNameServerDaemon && !UseOracle && !UseRaima
#if BuildDbClient != YES
#undef BuildDbClient
#define BuildDbClient YES
#endif
#endif
#if BuildStageDaemon && UseStageCdb
#if BuildDbClient != YES
#undef BuildDbClient
#define BuildDbClient YES
#endif
#endif
#if BuildVolumeMgrrDaemon && !UseOracle && !UseRaima
#if BuildDbClient != YES
#undef BuildDbClient
#define BuildDbClient YES
#endif
#endif
#if BuildDbClient
DBLIB = DepLibraryTargetName(db,db)
#endif

#if BuildStageClient
#if UseTms
#if BuildSysreq != YES
#undef BuildSysreq
#define BuildSysreq	YES
#endif
#endif
#if BuildRfioClient != YES
#undef BuildRfioClient
#define BuildRfioClient       YES
#endif
#endif

#if BuildStageDaemon
#if BuildCupvClient != YES
#undef BuildCupvClient
#define BuildCupvClient	YES
#endif
#if BuildExpertClient != YES
#undef BuildExpertClient
#define BuildExpertClient YES
#endif
#if BuildNameServerLibrary != YES
#undef BuildNameServerLibrary
#define BuildNameServerLibrary YES
#endif
#if BuildRtcopyClient != YES
#undef BuildRtcopyClient
#define BuildRtcopyClient       YES
#endif
#if BuildVolumeMgrClient != YES
#undef BuildVolumeMgrClient
#define BuildVolumeMgrClient YES
#endif
#if BuildTapeClient != YES
#undef BuildTapeClient
#define BuildTapeClient YES
#endif
#endif

#if BuildStageLibrary
#if BuildRfioClient != YES
#undef BuildRfioClient
#define BuildRfioClient       YES
#endif
#endif

#if BuildStageClient || BuildStageDaemon || BuildStageLibrary
STGLIB = DepLibraryTargetName(stage,stage)
#endif

#if BuildRtcopyClient
RTCOPYLIB = DepLibraryTargetName(rtcopy,rtcpapi)
#if UseTms
#if BuildSysreq != YES
#undef BuildSysreq
#define BuildSysreq	YES
#endif
#endif
#if BuildOraCpp != YES
#undef BuildOraCpp
#define BuildOraCpp	YES
#endif
#if BuildVdqmClient != YES
#undef BuildVdqmClient
#define BuildVdqmClient	YES
#endif
#if UseVmgr
#if BuildVolumeMgrClient != YES
#undef BuildVolumeMgrClient
#define BuildVolumeMgrClient	YES
#endif
#endif
#if BuildDlfClient != YES
#undef BuildDlfClient
#define BuildDlfClient	YES
#endif
#if BuildRfioClient != YES
#undef BuildRfioClient
#define BuildRfioClient	YES
#endif
#endif

#if BuildTapeClient
TAPELIB = DepLibraryTargetName(tape,tape)
#if UseTms
#if BuildSysreq != YES
#undef BuildSysreq
#define BuildSysreq	YES
#endif
#endif
#if BuildMsgClient != YES
#undef BuildMsgClient
#define BuildMsgClient	YES
#endif
#if BuildRmcClient != YES
#undef BuildRmcClient
#define BuildRmcClient	YES
#endif
#endif

#if BuildTapeDaemon && UseVmgr
#if BuildVolumeMgrClient != YES
#undef BuildVolumeMgrClient
#define BuildVolumeMgrClient YES
#endif
#endif

#if BuildTpusage
#if BuildRfioClient != YES
#undef BuildRfioClient
#define BuildRfioClient	YES
#endif
#endif

#if BuildRfioClient
RFIOLIB = DepLibraryTargetName(rfio,rfio)
#if BuildCommon != YES
#undef BuildCommon
#define BuildCommon	YES
#endif
#if BuildNameServerLibrary != YES
#undef BuildNameServerLibrary
#define BuildNameServerLibrary	YES
#endif
#if BuildStageClient != YES && BuildStageLibrary != YES
#undef BuildStageLibrary
#define BuildStageLibrary	YES
#endif
#endif

#if BuildStageLibrary
STGLIB = DepLibraryTargetName(stage,stage)
#endif

#if BuildMsgClient
MSGLIB = DepLibraryTargetName(msg,msg)
#if BuildCommon != YES
#undef BuildCommon
#define BuildCommon	YES
#endif
#endif

#if BuildNameServerDaemon
#if BuildCupvClient != YES
#undef BuildCupvClient
#define BuildCupvClient	YES
#endif
#endif

#if BuildNameServerClient || BuildNameServerLibrary
NSLIB = DepLibraryTargetName(ns,ns)
#if BuildCommon != YES
#undef BuildCommon
#define BuildCommon	YES
#endif
#endif

#if BuildRmcClient
RMCLIB = DepLibraryTargetName(rmc,rmc)
#endif

#if BuildVdqmClient
VDQMLIB = DepLibraryTargetName(vdqm,vdqmapi)
#if BuildCommon != YES
#undef BuildCommon
#define BuildCommon	YES
#endif
#endif

#if BuildVolumeMgrDaemon
#if BuildCupvClient != YES
#undef BuildCupvClient
#define BuildCupvClient	YES
#endif
#endif


#if BuildVolumeMgrClient
VMGRLIB = DepLibraryTargetName(vmgr,vmgr)
#if UseCupv
#if BuildCupvClient != YES
#undef BuildCupvClient
#define BuildCupvClient	YES
#endif
#endif
#if BuildCommon != YES
#undef BuildCommon
#define BuildCommon	YES
#endif
#endif

#if BuildCupvClient || BuildCupvDaemon
UPVLIB = DepLibraryTargetName(upv,upv)
#if BuildCommon != YES
#undef BuildCommon
#define BuildCommon	YES
#endif
#endif

#if BuildMonitorClient || BuildMonitorServer
MONITORLIB = DepLibraryTargetName(monitor,monitor)
#if BuildCommon != YES
#undef BuildCommon
#define BuildCommon	YES
#endif
#endif

#if BuildCommon
COMMONLIB = DepLibraryTargetName(common,common)
#endif

#if BuildSysreq
SYSREQLIB = DepLibraryTargetName(sysreq,sysreq)
#endif

#if BuildHpssClient
HPSSLIB = DepLibraryTargetName(hpss,hpss_common)
#endif

#if BuildDlfClient
DLFLIB = DepLibraryTargetName(dlf,dlf)
#endif

#if BuildSecurity
#if BuildCommon != YES
#undef BuildCommon
#define BuildCommon	YES
#endif
SECURITYLIB = DepLibraryTargetName(security,security)
#endif

#if BuildDstageCpp
#if BuildOraCpp != YES
#undef BuildOraCpp
#define BuildOraCpp YES
#endif
#endif

#if BuildRHCpp
#if BuildOraCpp != YES
#undef BuildOraCpp
#define BuildOraCpp YES
#endif
#endif

#if BuildOraCpp
RHORALIB = DepLibraryTargetName(castor/db/ora,castorCommonOra)
#endif

#if BuildProtoCppStager
#if BuildClientCpp != YES
#undef BuildClientCpp
#define BuildClientCpp YES
#endif
RHPROTOLIB = DepLibraryTargetName(castor/proto,castorProto)
#endif

#if BuildClientCpp
RHCLIENTLIB = DepLibraryTargetName(castor,castorClient)
#endif

#if BuildExpertClient || BuildExpertDaemon
EXPERTLIB = DepLibraryTargetName(expert,expert)
#endif
