/*
 * Copyright (C) 1993-2004 by CERN/IT/PDP/DM
 * All rights reserved
 */

DLFWEB=/var/www/html/dlf
DLFCONF=/var/www/conf/dlf

.PHONY : install clean clobber Makefiles depend checkDESTDIR checkORACLE checkLSF checkGLOBUS checkSTK checkXROOT checkVERSION

all: checkORACLE checkLSF checkGLOBUS checkSTK checkXROOT
	GotoSubdirs($(SUBDIRS))

EXPORTMAN?=$(DESTDIR)/usr/share
checkDESTDIR:
	@if [ -z "${DESTDIR}" ]; then \
	  echo "Please set DESTDIR environment variable before invoking make install."; \
	  exit 1; \
	fi;

checkORACLE:
	@if [ -z "${ORACLE_HOME}" ]; then \
	  if [ -r /etc/sysconfig/castor ]; then /etc/sysconfig/castor; fi \
	fi; \
        if [ -z ${ORACLE_HOME} ]; then \
	  echo "Please define ORACLE_HOME environment variable before invoking make."; \
	  exit 1; \
	fi; \
	if [ ! -r ${ORACLE_HOME}/lib/libclntsh.so ]; then \
	  echo "Could not find libclntsh.so in ${ORACLE_HOME}/lib. Giving up."; \
	  exit 1; \
	fi

checkLSF:
	@if [ ! -e InstallLibDir/liblsf.so -o ! -d /usr/include/lsf ]; then \
	  echo "Could not find LSF installation. Giving up."; \
	  exit 1; \
	fi

GLOBUS_LOCATION ?= /opt/globus
checkGLOBUS:
	@if [ ! -r ${GLOBUS_LOCATION}/lib/libglobus_ftp_control_/**/GlobusFlavour.so -o ! -d ${GLOBUS_LOCATION}/include ]; then \
	  echo "Could not find Globus installation at ${GLOBUS_LOCATION}. Giving up."; \
	  exit 1; \
	fi

checkSTK:
	@if [ ! -z "${CASTOR_NOSTK}" ]; then \
	  echo "Compiling without STK support."; \
	else \
	  rpm -q stk-ssi-devel >&/dev/null && rpm -q stk-ssi >& /dev/null; \
	  if [[ $$? -ne 0 ]]; then \
	    echo "Could not find STK packages. Giving up."; \
	    exit 1; \
          fi; \
	fi

XROOT_LOCATION ?= /opt/xrootd
checkXROOT:
	@if [ ! -r ${XROOT_LOCATION}/lib/libXrdPosix.so -o ! -d ${XROOT_LOCATION}/include ]; then \
	  echo "Could not find XROOT installation at ${XROOT_LOCATION}. Giving up."; \
	  exit 1; \
	fi

checkVERSION:
	@if [ -z "${MAJOR_CASTOR_VERSION}" -o -z "${MINOR_CASTOR_VERSION}" ]; then \
	  echo "Please define MAJOR/MINOR_CASTOR_VERSION before installing."; \
	  exit 1; \
	fi

install: checkDESTDIR checkVERSION all exportman
	GotoSubdirs($(SUBDIRS))

clean:
	RemoveFiles($(FilesToClean))
	GotoSubdirs($(SUBDIRS))

clobber: clean
	RemoveFiles($(FilesToClobber))
	GotoSubdirs($(SUBDIRS))

Makefiles:
	@for i in $(SUBDIRS);\
	do (if [ -d $$i ] ;\
	    then \
	      (echo " $$i:" ; cd $$i ;\
	      $(CASTOR_ROOT)/imake/imake -I$(CASTOR_ROOT)/config;\
	      $(MAKE) $(MFLAGS) $@) ;\
	    else \
	      (echo "ERROR : No directory $$i" ;\
	      exit 1) ;\
	    fi )\
	done ;

exportman:
	GotoSubdirs($(SUBDIRS))

depend:
	makedepend -I $(CASTOR_ROOT) -I $(CASTOR_ROOT)/h *.c *.cpp *.hpp *.h 2> /dev/null
	GotoSubdirs($(SUBDIRS))
