# See https://monit.docs.cern.ch/other/metrics/

# Note that this values can be used in combination with other values files
frontend:
  xrd:
    conf:
      telemetry:
        enabled: true
        retainInstanceIdOnRestart: false
        metrics:
          backend: "OTLP_GRPC"
          exportInterval: 1000
          exportTimeout: 500
          otlp:
            endpoint: "https://monit-otlp.cern.ch:4316"
            auth:
              basic:
                username: it_sd_tab_ci
                passwordSecret: monit-it-sd-tab-ci-pwd

  grpc:
    conf:
      telemetry:
        enabled: true
        retainInstanceIdOnRestart: false
        metrics:
          backend: "OTLP_GRPC"
          exportInterval: 1000
          exportTimeout: 500
          otlp:
            endpoint: "https://monit-otlp.cern.ch:4316"
            auth:
              basic:
                username: it_sd_tab_ci
                passwordSecret: monit-it-sd-tab-ci-pwd

tpsrv:
  conf:
    telemetry:
      enabled: true
      retainInstanceIdOnRestart: true
      metrics:
        backend: "OTLP_GRPC"
        exportInterval: 1000
        exportTimeout: 500
        otlp:
          endpoint: "https://monit-otlp.cern.ch:4316"
          auth:
            basic:
              username: it_sd_tab_ci
              passwordSecret: monit-it-sd-tab-ci-pwd

maintd:
  conf:
    telemetry:
      enabled: true
      retainInstanceIdOnRestart: false
      metrics:
        backend: "OTLP_GRPC"
        exportInterval: 1000
        exportTimeout: 500
        otlp:
          endpoint: "https://monit-otlp.cern.ch:4316"
          auth:
            basic:
              username: it_sd_tab_ci
              passwordSecret: monit-it-sd-tab-ci-pwd
