# Take care with increasing this number, as CTA has not been tested with multiple frontend replicas
# Increasing this will most likely not work as expected
replicaCount: 1

grpc:
  enabled: false
  port: 10956
  conf:
    numberOfThreads: 512
    catalogue:
      numberOfConnections: 10
      # Reduced value for test environment
      missingFileCopiesMinAgeSecs: 5

    frontend:
      archiveFileMaxSizeGb: 1000
      zeroLengthFilesForbidden: true
      zeroLengthFilesForbiddenVoExceptionList: ""
      # repackBufferUrl

    schedulerdb:
      numberOfThreads: 500
      threadStackSizeMb: 1
      disableRepackRequests: false
      disableUserRequests: false
      tapeCacheMaxAgeSecs: 1
      retrieveQueueCacheMaxAgeSecs: 1

    logger:
      logLevel: "INFO"
      logFormat: json

    tls:
      enabled: true
      serverKey: /etc/grpc-certs/key/server.key
      serverCert: /etc/grpc-certs/cert/server.crt
      caCert: ""

    jwtAuth:
      enabled: false
      jwksUri: http://auth-keycloak:8080/realms/master/protocol/openid-connect/certs

    experimental:
        bypassAdminAuthCheck:
          enabled: true
        ctaAdminCommands:
          enabled: true

    telemetry:
      enabled: false
      retainInstanceIdOnRestart: false
      metrics:
        backend: "NOOP"
        exportInterval: 1000
        exportTimeout: 500
        otlp:
          endpoint: ""
          auth:
            basic:
              username: ""
              passwordSecret: ""
        file:
          endpoint: ""

  # Kerberos authentication
  keytab: /etc/cta/cta-frontend.krb5.keytab
  service_principal: "cta/cta-frontend-grpc@TEST.CTA"  # Will use default cta/<pod-name>@realm format if empty

xrd:
  enabled: true
  port: 10955
  conf:
    catalogue:
      numberOfConnections: 10
      # Reduced value for test environment
      missingFileCopiesMinAgeSecs: 5

    frontend:
      archiveFileMaxSizeGb: 1000
      zeroLengthFilesForbidden: true
      zeroLengthFilesForbiddenVoExceptionList: ""

    schedulerdb:
      numberOfThreads: 500
      threadStackSizeMb: 1
      disableRepackRequests: false
      disableUserRequests: false
      tapeCacheMaxAgeSecs: 1
      retrieveQueueCacheMaxAgeSecs: 1

    logger:
      logLevel: "INFO"
      ssiLogLevel: "warning"
    telemetry:
      enabled: false
      retainInstanceIdOnRestart: false
      metrics:
        backend: "NOOP"
        exportInterval: 1000
        exportTimeout: 500
        otlp:
          endpoint: ""
          auth:
            basic:
              username: ""
              passwordSecret: ""
        file:
          endpoint: ""

  keytab:
    secretName: cta-frontend-keytab
    subPath: cta-frontend.keytab

# Script to execute in the main container before starting the frontend service
preRun:
  enabled: false
  script: |
    #!/usr/bin/bash

# Script to execute in the main container after frontend exited
postRun:
  enabled: false
  script: |
    #!/usr/bin/bash

pod:
  extraSpec:
    terminationGracePeriodSeconds: 1

extraEnv:

extraVolumes:
  volumes:
  volumeMounts:
