# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

# Note that by default this chart does not enable any routines for the objectstore/scheduler cleanup
# To do this, enable these explicitly by passing in another values file (see e.g. presets/dev-cta-maintd-*-values.yaml)
routines:
  # Note that the snake_case version of all these options (including the names)
  # should match the corresponding names in the maintd conf file
  # So diskReportArchive:softTimeout will map to cta.routines.disk_report_archive.soft_timeout
  # To disable a routine, set replicas to 0
  diskReportArchive:
    replicas: 2
    sleepInterval: 5000
    batchSize: 5000
    softTimeout: 30
  diskReportRetrieve:
    replicas: 2
    sleepInterval: 5000
    batchSize: 5000
    softTimeout: 30
  repackExpand:
    replicas: 1
    sleepInterval: 5000
    maxToToExpand: 2
  repackReport:
    replicas: 1
    sleepInterval: 5000
    softTimeout: 30

conf:
  logLevel: "INFO"
  tapeCacheMaxAgeSecs: 600
  retrieveQueueCacheMaxAgeSecs: 10

# OpenTelemetry is entirely configured through declarative configuration
# Simply put the config verbatim here under telemetryConfig:
telemetryConfig: |
  file_format: "1.0-rc.1"
  disabled: true

# SSS keytab to communicate to the disk buffer
keytab:
  secretName: eos-keytab
  subPath: eos.keytab

preRun:
  enabled: false
  script: |
    #!/usr/bin/bash

postRun:
  enabled: false
  script: |
    #!/usr/bin/bash

pod:
  extraSpec:
    terminationGracePeriodSeconds: 1

extraEnv:

extraVolumes:
  volumes:
  volumeMounts:
