# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

routines:
  # Note that the snake_case version of all these options (including the names)
  # should match the corresponding names in the maintd conf file
  # So diskReportArchive:softTimeout will map to cta.routines.disk_report_archive.soft_timeout
  # To disable a routine, set replicas to 0
  diskReportArchive:
    replicas: 2
    sleepInterval: 1000
    batchSize: 500
    softTimeout: 30
  diskReportRetrieve:
    replicas: 2
    sleepInterval: 1000
    batchSize: 500
    softTimeout: 30
  repackExpand:
    replicas: 1
    sleepInterval: 1000
    maxToToExpand: 2
  repackReport:
    replicas: 1
    sleepInterval: 1000
    softTimeout: 30

  # Note that these routines only work for the objectstore values
  # For the routine configuration of postgres, see dev-cta-maintd-postgres-values.yaml
  garbageCollect:
    replicas: 1
    sleepInterval: 1000
  queueCleanup:
    replicas: 1
    sleepInterval: 1000
    batchSize: 500


conf:
  logLevel: "INFO"
  tapeCacheMaxAgeSecs: 600
  retrieveQueueCacheMaxAgeSecs: 10

telemetry:
  enabled: false
  retainInstanceIdOnRestart: false
  metrics:
    backend: "NOOP"
    exportInterval: 1000
    exportTimeout: 500
    otlp:
      endpoint: ""
      auth:
        basic:
          username: ""
          passwordSecret: ""
    file:
      endpoint: ""

# SSS keytab to communicate to the disk buffer
keytab:
  secretName: eos-keytab
  subPath: eos.keytab

preRun:
  enabled: false
  script: |
    #!/usr/bin/bash

postRun:
  enabled: false
  script: |
    #!/usr/bin/bash

pod:
  extraSpec:
    terminationGracePeriodSeconds: 1

extraEnv:

extraVolumes:
  volumes:
  volumeMounts:
