{% load userDefinedFilters %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd" >
<html>
<head>
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PRIVATE">
<title>TreeMaps</title>

<link rel="stylesheet" type="text/css" media="all" href="{{apacheserver}}/css/calendar/calendar-blue2.css" title="win2k-cold-1" />
<script type="text/javascript" src="{{apacheserver}}/js/calendar/calendar.js"></script>
<script type="text/javascript" src="{{apacheserver}}/js/calendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="{{apacheserver}}/js/calendar/calendar-setup.js"></script>

<link rel="stylesheet" type="text/css" href="{{apacheserver}}/css/lightgreytext.css"/>
<link rel="stylesheet" type="text/css" href="{{apacheserver}}/css/blackredbutton.css"/>
<link rel="stylesheet" type="text/css" href="{{apacheserver}}/css/presetdropdown.css"/>
<link rel="stylesheet" type="text/css" href="{{apacheserver}}/css/datefield.css"/>
<link rel="stylesheet" type="text/css" href="{{apacheserver}}/css/spinner.css"/>
<link rel="stylesheet" type="text/css" href="{{apacheserver}}/css/now.css"/>

<script LANGUAGE="JavaScript">
//define global menu values

function initMenu()
{
activateJsObjects();
}

/*function getAjaxObject()
{
	req = null;
	try
	{
	    req = new XMLHttpRequest();
	}
	catch (e)
	{
	   try
	   {
	        req = new ActiveXObject("Msxml2.XMLHTTP");
	   } 
	   catch (e)
	   {
	      try
	     {
	          req = new ActiveXObject("Microsoft.XMLHTTP");
	     } 
	     catch (failed)
	     {
	         req = null;
	     }
	  }  
	}	  
	return req;
}

function updateStatus()
{
	  ajax = getAjaxObject();
	  if (ajax == null) alert("no ajax object found!");
	  ajax.onreadystatechange = function()
	  {       
		  //alert(ajax.responseText);
		  //alert(ajax + ajax.readyState + "_" + ajax.status + "_" + ajax.responseText + this);
	      if(ajax.readyState == 4) 
	      {
			alert(ajax.status);
	        if(ajax.status == 200) 
		    {
	            alert(ajax.responseText);
	            //document.getElementById("thesubtable").style.display = "none";
				return true;
	        }
	        else
		    {    
				return false;
	        }
	      }
	      else 
		  {
			  return false;
		  }
	  };

	ajax.open("GET", "{{relstatuspath}}", true);
	ajax.send(null); 
}*/

//

function getFrameDoc(theframe)
{
	  //alert("1");
	  var oDoc = (theframe.contentWindow || theframe.contentDocument || iframe)
	  //alert("2");
	  if (oDoc.document) oDoc = oDoc.document;
	  //alert("3");
	  return oDoc;
}

/*function enableFrameReadyVerbosity(iframe)
{
	iframe.ready = false;
	if (iframe.attachEvent)
	{
	    iframe.attachEvent("onload", function(){this.ready = true;});
	} 
	else 
	{
	    iframe.onload = function(){this.ready = true;};
	}
}*/

function findPosX(obj)
{
	   var curleft = 0;
	   if(obj.offsetParent) 
	   {
	      while(obj.offsetParent) 
		  {
	         curleft += obj.offsetLeft
	         obj = obj.offsetParent;
	      }
	   }
	   else if(obj.x) 
	     curleft = obj.x;
	   return curleft;
}
function findPosY(obj) 
{
	   var curtop = 0;
	   if(obj.offsetParent) 
	   {
	      while(obj.offsetParent) 
		  {
	         curtop += obj.offsetTop
	         obj = obj.offsetParent;
	      }
	   }
	   else if(obj.y)
	      curtop = obj.y;
	   return curtop;
}

function deactivateProgressBar()
{
	try
	{
		clearInterval(showStatus.timerid);
		//alert("deactivate progress bar call");
	}
	catch(e)
	{
		;
	}
	try
	{
		savedid = parseInt(document.getElementById("timerid").innerHTML);
		if(!isNaN(savedid)) clearInterval(savedid);
	}
	catch(e)
	{
		;
	}
		
	document.getElementById('statuscontainer').style.visibility ='hidden';

}

function writeStatusToDiv()
{
	var IE = /*@cc_on!@*/false;
	statcont = document.getElementById('statuscontainer');
	statcont.style.visibility ='visible';
	button = document.getElementById('id_blackredbutton');

	statcont.style.top = findPosY(button) + "px";
	statcont.style.left = findPosX(button) + "px";
	
	//statcont.innerHTML = "<iframe id='statusframe' scrolling=no height = '60' width = '250' frameborder='0' src='{{apacheserver}}/{{relstatuspath}}'></iframe>"; 

    var stframe = document.getElementById('statusframe');
    stframe.src = '{{apacheserver}}/{{relstatuspath}}';

	//alert("unload");
	window.onunload = deactivateProgressBar;
	
    var framedocument = getFrameDoc(stframe);
    while(framedocument.readyState != 'complete'){;}

    //objectcheck = framedocument.getElementsByTagName('div')[0];
    var objectcheck = framedocument.getElementById("no404");
    
    if(objectcheck == null)
    {
        //the first failure must be ignored to make it work in opera
        //In Opera onunload event is useless because it fires too late + for some reason the first framedocument.readystate equals complete, even if it isn't
        //If settings.PUBLIC_APACHE_URL is not equal settings.DJANGORESPONSE_URL even this code doesn't help,
        //objectcheck=... will throw a security error then, because the framecontent is not from the same domain as the django response
        if(!this.failures) this.failures = 0;
    	if(this.failures > 0) {deactivateProgressBar();}
        ++this.failures;
    }
}

function showStatus()
{
	this.timerid = setInterval ( "writeStatusToDiv()", 1000 );
	document.getElementById("timerid").innerHTML = this.timerid;
}

function linkClicked(e)
{
	//alert("trigger status generation");
	document.getElementById('hiddencallframe').innerHTML = "<iframe style='display:inline; float:left; overflow:hidden' id='thecallframe' height = '20' width = '40' frameborder='0' src='{{djangoresponseurl}}/treemaps/triggerstatus_{{statusfilename}}'></iframe>"; 
	showStatus();
}

function catcalc(cal) 
{
	var date = cal.date;
	var time = date.getTime()
	field = document.getElementById("f_date_a");
	var date2 = new Date(time);
	field.value = date2.print("%d.%m.%Y_%H:%M:%S");
}


function activateJsObjects()
{		
	document.getElementById("thesubtable").style.display = "inline";
	links = document.getElementsByTagName("a");
	for (var i=0;i<links.length;i++)
	{
		links[i].onclick = linkClicked;
	}
	//alert("initial disabling");
	deactivateProgressBar();
}

function notImplementedWarning()
{
	childrenmenu = document.getElementsByName("childrenmethod")[0];
	//childrenmenu.disabled = false;
	levelsmenu = document.getElementsByName("level")[0];
	levelsmenu.disabled = false;
	alert("This is in an early stage! If something doesn't work any more ,delete your cookies.");
}

</script>

</head>
<body bgcolor="#1F1F1F" text = "#7F7F7F" link = "#FFFFFF" vlink = "#7F7F7F" alink = "#9F9F9F" onload="initMenu()">
    <table style="width: auto; height: auto;" align="center" cellspacing="0"  cellpadding="0">
    <tr>
		<!-- The options -->
		<td align="left" valign="top" width={{imagewidth}}>	
		
		<!--  make the menu visible if JavaScript is activated -->
		<!-- The dropdown menus are hold in a table to have them ordered right -->
			<table id = "thesubtable" name = "optionsmenu" style="display:none;" cellspacing="0"  cellpadding="0">
				<form action="{{djangoresponseurl}}/treemaps/{{rootsuffix}}/preset/" method="post">
					<tr>
							<td style="vertical-align:top" class="lightgreytext">Presets:</td> 
							
							<td style="vertical-align:top"><select class="presetdropdown" name="preset" id="id_preset">
								{% for presetname in presetnames %}
									<option {% spaceless %}
									{% for key, value in presetdefault.items %}
										{% if key|equals:"presetname" and value|equals:presetname %}selected{% endif %}
									{% endfor %}
									{% endspaceless %} value="{{presetname}}">{{presetname}}</option>
								{% endfor %}
							</select></td>
							<td class="lightgreytext">
								<table  style="border-spacing:10px 0px" align="left" cellspacing="0"  cellpadding="3">
										{% for aoption in optionshtml %}
										{% if forloop.counter0|modulo:2|equals:0 %}<tr>{% endif %}
											<td>
												{{aoption|escapefilter}}
											</td>
										{% if forloop.counter0|modulo:2|equals:1 %}</tr>{% endif %}
										{% endfor %}
								</table>
							</td>
					</tr>
					<tr>
						<td style="vertical-align:top" >
							<br>
							<input type="hidden" name="statusfilename" value="{{statusfilename}}"/>
							<input id="id_blackredbutton" class="blackredbutton" type="submit" value="Apply" onmouseup = "linkClicked();"/>
							<div id="statuscontainer" style='visibility:hidden; position:absolute; z-index:100; top:-50px; left:100px; background-color:#1F1F1F; overflow:hidden'>
								<iframe id='statusframe' scrolling=no height = '60' width = '250' frameborder='0'></iframe>
							</div>
						</td>
					</tr>
				</form>
			</table>
		</td>	
    </tr>
    
    <tr>
      <td align="right" valign="middle" style="font-size: 14px">
    	{% for key, value in presetdefault.items %}{% if key|equals:"presetname" %} {{value}} {% endif %}{% endfor %}
      </td>
    </tr>
    		
    <tr>
    
    <!-- The map -->
    <td align="center" valign="middle" width={{imagewidth}} style="height: auto">     	
        	<ul id="map">
 			{% for x1, y1 ,x2 , y2, hash, theid, info in mapparams %}
					<li>
						<a class="cls{{hash}}" href="{{djangoresponseurl}}/treemaps/{{theid}}" title = "">
							<span title = "{{djangoresponseurl}}/treemaps/{{theid}}">
								{{ info|escapefilter }}
							</span>
						</a>
					</li>
        	{% endfor %}
        	</ul>  
	   <br><a href="{{djangoresponseurl}}/treemaps/{{parentid}}" > <img border="0" title="one level back" src="{{apacheserver}}/{{icondir}}/arrow.png"></a> {% for dirname, flname, theid in navilink %}<a href="{{djangoresponseurl}}/treemaps/{{theid}}" title = {{flname}}>{{dirname}}</a>{% if forloop.counter0 %}/{% endif %}{% endfor %} <a href = "{{apacheserver}}/{{treemapdir}}/{{filename}}"> <img src="{{apacheserver}}/{{icondir}}/floppy.png" border="0" title = "Download Treemap"> </a>
	   <br><br> <div style="font-size: 14px" >The displayed data is not live data (snapshot from 08.04.2010).<br>Exceptions are: Requests Atlas, Requests CMS</div>
	</td>	
		<noscript>
			<div style="color:#7F1F1F" align = "center">
				This page will have limited functionality <br>
				Please enable JavaScript and reload the page
			</div>
		</noscript>
		
	</tr> </table>
	<div style="display: none" id="hiddencallframe"></div>
	<div style="display: none" id="timerid"></div>
</body>
    
<style type="text/css">
					#map {
						position:relative;
						margin:0;
						padding:0;
						width:{{imagewidth}}px;
						height:{{imageheight}}px;
						background:url({{apacheserver}}/{{treemapdir}}/{{filename}}) top left no-repeat #fff;
						font-family:arial, helvetica, sans-serif;
						font-size:{{tooltipfontsize}}pt;
						color:#FFF;
						text-align: left;
					}
					
					#map li {
						margin:0;
						padding:0;
						list-style:none;
					}
					
					#map li a {
						position:absolute;
						display:block;
						/*style="width: auto"
						   Specifying a background image
						   (a 1px by 1px transparent gif)
						   fixes a bug in older versions of
						   IE that causeses the block to not
						   render at its full dimensions.
						*/
			   			background:url({{apacheserver}}/{{icondir}}/blank.gif);
			   			text-decoration:none;
						color:#000;
					}
					
					#map li a span { display:none; }
					
				{% for shiftx, shifty, twidth, theight, hash, theid in tooltipshift %}
					#map li a.cls{{hash}}:hover span 
					{
						position:relative;
						display:block;
						width:{{twidth}}px;
						height:{{theight}}px;
						left:{{shiftx}}px;
						top:{{shifty}}px;
						border:1px solid #000;
						background:#fff;
						padding:5px;
			 			filter:alpha(opacity=70);
						opacity:0.8;
			  		}
			  	{% endfor %}
				
				{% for x1, y1 ,x2 ,y2, hash, theid, info in mapparams %}
					#map a.cls{{hash}} 
					{
						top:{{y1}}px;
						left:{{x1}}px;
						width:{{x2|sub:x1}}px;
						height:{{y2|sub:y1}}px;
					}
				{% endfor %}
				
			   </style>
</html>
