<BODY>

<form name="Coordinates">
	X <input type="text" name="MouseX" value="0" size="4"><br>
	Y <input type="text" name="MouseY" value="0" size="4"><br>
</form>

<script language="JavaScript1.2">

<!-- Begin
	var IE = document.all?true:false;
	if (!IE) 
		document.captureEvents(Event.MOUSEMOVE)
		document.onmousemove = getMouseXY;
	var tempX = 0;
	var tempY = 0;
	
function getMouseXY(e) 
{
	if (IE) 
	{ // grab the x-y pos.s if browser is IE
		tempX = event.clientX + document.body.scrollLeft;
		tempY = event.clientY + document.body.scrollTop;
	}
	else 
	{  // grab the x-y pos.s if browser is NS
	tempX = e.pageX;
	tempY = e.pageY;
	}  
	
	if (tempX < 0){tempX = 0;}
	if (tempY < 0){tempY = 0;}  
	
	document.Coordinates.MouseX.value = tempX;
	document.Coordinates.MouseY.value = tempY;
	return true;
}
//  End -->

function clickHandler(e) 
{ 
	var top = 0, left = 0; 
	if (!e) { e = window.event; } 
	var myTarget = e.currentTarget; 
	
	if (!myTarget) 
	{ 
	  	myTarget = e.srcElement; 
	} 
	else if (myTarget == "undefined") 
	{ 
	 myTarget = e.srcElement; 	left = getMouseXY(e) - left
		top = getMouseXY(e) - top
	} 
	
	while(myTarget!= document.body) 
	{ 
	   top += myTarget.offsetTop; 
	   left += myTarget.offsetLeft; 
	   myTarget = myTarget.offsetParent; 
	} 

	tempX = 0
	tempY = 0
	if (IE) 
		
	{ // grab the x-y pos.s if browser is IE
		tempX = event.clientX + document.body.scrollLeft;
		tempY = event.clientY + document.body.scrollTop;
	}
	else 
	{  // grab the x-y pos.s if browser is NS
		tempX = e.pageX;
		tempY = e.pageY;
	} 
	
	x = tempX - left
	y = tempY - top
	
	alert("x: " + x + 
	   "\ny: " + y); 
} 
//--> 
</script>

<div align="center"> 
   		<img src="file:///home/kblaszcz/evolved22.png" name="treemap"
   		onclick="clickHandler(event);">
</div>

function Vnode(x, y, length, width, parent) 
{
	this.x=x;
	this.y=y;
	this.length=length;
	this.width=width;
	
	this.parent = parent
	this.children = new Array()
}

Vnode.prototype.addChild = function (child)
{
	this.children.push(child)
}

<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body></body>
</html>