{% load userDefinedFilters %}

<table style="margin:0; padding:0;" cellpadding="0" cellspacing="0" border="0">
<tr>
<td rowspan="2">								
<script LANGUAGE="JavaScript">          
      function MouseScroll{{name}} (event) {
          var rolled = 0;
          if (event.wheelDelta === undefined) {   // Firefox
                  // The measurement units of the detail and wheelDelta properties are different.
              rolled = -40 * event.detail;
          }
          else {
              rolled = event.wheelDelta;
          }
          
          var scrolledfield = document.getElementById ("id_{{name}}");
          if(parseInt(scrolledfield.value) == Number.NaN) scrolledfield.value=0
          if(rolled >=0 )
          {
        	if(parseInt(scrolledfield.value)<={{max|sub:step}}) scrolledfield.value = parseInt(scrolledfield.value) + {{step}};
          }
          else
          {
          	if(parseInt(scrolledfield.value)>={{min|add:step}}) scrolledfield.value = parseInt(scrolledfield.value) - {{step}};
          }
      }
      function Init{{name}}spinner () 
      {
              // for mouse scrolling in Firefox
          var elem = document.getElementById ("id_{{name}}");
          
          if (elem.addEventListener) 
		  {
              elem.addEventListener ("DOMMouseScroll", MouseScroll{{name}}, false);
          }
          elem.onmouseover = null;
      }
         </script>
{{userfriendlyname}}<br>
<input style="margin:0px; vertical-align:bottom;" onblur="if(isNaN(parseInt(this.form.{{name}}.value))) this.form.{{name}}.value={{defaultvalue}}; if(parseInt(this.form.{{name}}.value)>{{max}}) this.form.{{name}}.value={{max}}; if(parseInt(this.form.{{name}}.value)<{{min}}) this.form.{{name}}.value={{min}}" 
onmouseover="Init{{name}}spinner()" type="text" id="id_{{name}}" name="{{name}}" value="{{defaultvalue}}" class="spinner" 
onmousewheel="MouseScroll{{name}}(event);"/>
<table style="display:inline; margin:0px;" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td><input class="spinnerarrow" type="button" value=" /\ " onclick="if(parseInt(this.form.{{name}}.value)<{{max}})this.form.{{name}}.value++;"></td>
	</tr>
	<tr>
		<td><input class="spinnerarrow" type=button value=" \/ " onclick="if(parseInt(this.form.{{name}}.value)>{{min}})this.form.{{name}}.value--;" ></td>
	</tr>
</table><span style="color:#ffff00; vertical-align:bottom;">   {{unit}}</span>
	
</td>
</tr>
</table>
