{% load userDefinedFilters %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Status</title>
<meta name="description" content="Css Progress Bar"/>

<meta http-equiv="Cache-Control" content="no-cache"/>
<meta http-equiv="Pragma" content="no-cache"/>

</style>
</head>
<body bgcolor="#1F1F1F" text = "#7F7F7F" link = "#FFFFFF" vlink = "#7F7F7F" alink = "#9F9F9F">
		<!--If javascript find this "no404" object, it knows that the response is not a HTTP 404 one-->
		<div style="display:none" id="no404"></div>
		<div style="display:none" id="status">{{status}}</div>
</body>
</html>

