
[Unit]
Description=CERN Tape Archive (CTA) maintenance service
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/cta-maintenance
ExecStart=/usr/bin/cta-maintenance ${CTA_MAINTENANCE_OPTIONS}
LimitCORE=infinity
OOMScoreAdjust=-1000
Type=forking
Restart=no

[Install]
WantedBy=default.target
