{{- /*
SPDX-FileCopyrightText: 2025 CERN
SPDX-License-Identifier: GPL-3.0-or-later
*/ -}}

{{- $name := include "keycloak.fullname" . }}
apiVersion: v1
kind: Pod
metadata:
  name: {{ $name }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app.kubernetes.io/name: {{ $name }}
spec:
  automountServiceAccountToken: false
  restartPolicy: Never
  terminationGracePeriodSeconds: 1 # This is low on purpose as the current process has no gracefull shutdown process
  containers:
    - name: keycloak
      image: {{ .Values.keycloak.image }}
      imagePullPolicy: IfNotPresent
      command: ["sh", "-c"]
      args:
        - |
          /opt/keycloak/bin/kc.sh start-dev --http-port=8080
      ports:
        - containerPort: 8080
      startupProbe:
        httpGet:
          path: /health/ready
          port: 9000
        initialDelaySeconds: 0
        periodSeconds: 1
        failureThreshold: 60
      readinessProbe:
        httpGet:
          path: /health/ready
          port: 9000
        initialDelaySeconds: 0
        periodSeconds: 5
        failureThreshold: 4
      securityContext:
        allowPrivilegeEscalation: false
      {{- if $.Values.keycloak.resources }}
      resources:
        {{-  toYaml $.Values.keycloak.resources | nindent 10 }}
      {{- end }}
      env:
        - name: KEYCLOAK_ADMIN
          valueFrom:
            secretKeyRef:
              name: keycloak-admin-credentials
              key: username
        - name: KEYCLOAK_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: keycloak-admin-credentials
              key: password
        - name: KC_HEALTH_ENABLED
          value: "true"
        - name: KC_MANAGEMENT_ENABLED
          value: "true"

