# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=CERN Tape Archive (CTA) tape server daemon
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/cta-taped
ExecStart=/usr/bin/cta-taped ${CTA_TAPED_OPTIONS}
LimitCORE=infinity
OOMScoreAdjust=-1000
Type=forking
Restart=no

[Install]
WantedBy=default.target
