[Unit]
Description=CERN Tape Archive (CTA) tape server daemon
After=syslog.target network-online.target

[Service]
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=default.target
