# @project      The CERN Tape Archive (CTA)
# @copyright    Copyright © 2015-2022 CERN
# @license      This program is free software, distributed under the terms of the GNU General Public
#               Licence version 3 (GPL Version 3), copied verbatim in the file "COPYING". You can
#               redistribute it and/or modify it under the terms of the GPL Version 3, or (at your
#               option) any later version.
#
#               This program is distributed in the hope that it will be useful, but WITHOUT ANY
#               WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
#               PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
#               In applying this licence, CERN does not waive the privileges and immunities
#               granted to it by virtue of its status as an Intergovernmental Organization or
#               submit itself to any jurisdiction.

# Example tape configuration file (/etc/cta/TPCONFIG)
#
# A single tape server daemon can control one or two tape drives. This file should contain one line
# per tape drive. Each line should consist of the following four elements, delimited by spaces:
#
# DRIVE_NAME            Label for this drive
# LOGICAL_LIBRARY_NAME  Logical tape library that this drive belongs to
# DRIVE_DEVICE          Path to the character special device used to access the drive
# LIBRARY_SLOT          The SCSI media changer address of the drive. This is "smc" + the drive
#                       ordinal number of the device, which can by obtained with "cta-smc -q D"
#
# Example configuration:
#
# DRIVE_NAME LOGICAL_LIBRARY_NAME DRIVE_DEVICE LIBRARY_SLOT
DRIVE0       LIB1                 /dev/nst0    smc1
