# @project      The CERN Tape Archive (CTA)
# @copyright    Copyright © 2015-2022 CERN
# @license      This program is free software, distributed under the terms of the GNU General Public
#               Licence version 3 (GPL Version 3), copied verbatim in the file "COPYING". You can
#               redistribute it and/or modify it under the terms of the GPL Version 3, or (at your
#               option) any later version.
#
#               This program is distributed in the hope that it will be useful, but WITHOUT ANY
#               WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
#               PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
#               In applying this licence, CERN does not waive the privileges and immunities
#               granted to it by virtue of its status as an Intergovernmental Organization or
#               submit itself to any jurisdiction.

# This file should contain one and only one connection string.  Blank lines and
# comments are ignored.
#
# PLEASE NOTE that comments at the end of a line are not supported.  Only entire
# line comments are allowed.  A comment line starts a hash '#' character.
# Leading whitespace is permitted.

# There must always be a main section
[main]
log_file = /var/log/eos/fst/cta-fst-gcd.log ; Path of garbage collector log file
mgm_host = HOSTNAME.2NDLEVEL.TOPLEVEL ; Fully qualified host name of EOS MGM
eos_spaces = EOS_SPACE_1 EOS_SPACE_2 ; Space separated list of the names of the EOS spaces to be garbage collected
eos_space_to_min_free_bytes = EOS_SPACE_1:10000000000 EOS_SPACE_2:10000000000 ; Minimum number of free bytes a filesystem should have
gc_age_secs = 7200 ; Age at which a file can be considered for garbage collection
absolute_max_age_secs = 604800 ; Age at which a file will be considered for garbage collection no matter the amount of free space
query_period_secs = 310 ; Delay in seconds between free space queries to the local file systems
main_loop_period_secs = 300 ; Period in seconds of the main loop of the cta-fst-gcd daemon
xrdsecssskt = /etc/eos.keytab ; Path to simple shared secret to authenticate with EOS MGM
