{{- /*
SPDX-FileCopyrightText: 2025 CERN
SPDX-License-Identifier: GPL-3.0-or-later
*/ -}}

{{ include "validate.tapeServers" . }}
{{- $allLibraries := include "tpsrv.allLibraries" . | fromYamlArray }}
{{- range $libraryId := $allLibraries }}
apiVersion: cta.cern.ch/v1
kind: TapeLibraryClaim
metadata:
  name: {{ $libraryId | quote }}
  labels:
    app.kubernetes.io/managed-by: {{ $.Release.Service | quote }}
  annotations:
    meta.helm.sh/release-name: {{ $.Release.Name | quote }}
    meta.helm.sh/release-namespace: {{ $.Release.Namespace | quote }}
spec:
  libraryId: {{ $libraryId }}
  owner:
    namespace: {{ $.Release.Namespace | quote }}
    release: {{ $.Release.Name | quote }}
---
{{- end }}
