{{- /*
SPDX-FileCopyrightText: 2025 CERN
SPDX-License-Identifier: GPL-3.0-or-later
*/ -}}

{{- $schedulerConfig := include "scheduler.config" . | fromYaml -}}
{{- $allRoutines := .Values.routines -}}
{{- range $routineName, $routineConf := $allRoutines }}
{{- $routineNameSlug := include "common.slugify" $routineName }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: cta-maintd-{{ $routineNameSlug }}-conf
  labels:
    {{-  include "common.labels.standard" $ | nindent 4 }}
data:
  cta-maintd.conf: |-
    # General
    cta.instance_name {{ $.Release.Namespace }}
    cta.scheduler_backend_name {{ $schedulerConfig.backend }}
    cta.daemon_user cta
    cta.daemon_group tape

    cta.log.level {{ $.Values.conf.logLevel }}
    cta.log.format json

    cta.catalogue.config_file /etc/cta/cta-catalogue.conf
    cta.objectstore.backendpath {{ include "global.schedulerUrl" $ }}

    cta.schedulerdb.tape_cache_max_age_secs {{ $.Values.conf.tapeCacheMaxAgeSecs }}
    cta.schedulerdb.retrieve_queue_cache_max_age_secs {{ $.Values.conf.retrieveQueueCacheMaxAgeSecs }}

    cta.routines.sleep_interval {{ $routineConf.sleepInterval }}

    {{- /* First enable only the routine in the outer loop */}}
    {{- range $name, $_ := $allRoutines }}
    cta.routines.{{ include "common.toSnakeCase" $name }}.enabled {{ ternary "true" "false" (eq $name $routineName) }}
    {{- end }}

    {{- /* Next set all routine-specific config fields (minus the replicas field) */}}
    {{- range $k, $v := (omit $routineConf "replicas") }}
    cta.routines.{{ include "common.toSnakeCase" $routineName }}.{{ include "common.toSnakeCase" $k }} {{ $v }}
    {{- end }}

    # Telemetry
    cta.experimental.telemetry.enabled {{ $.Values.telemetry.enabled }}

    cta.telemetry.retain_instance_id_on_restart {{ $.Values.telemetry.retainInstanceIdOnRestart }}
    cta.telemetry.metrics.backend {{ $.Values.telemetry.metrics.backend }}
    {{- if $.Values.telemetry.metrics.exportInterval }}
    cta.telemetry.metrics.export.interval {{ $.Values.telemetry.metrics.exportInterval }}
    {{- end }}
    {{- if $.Values.telemetry.metrics.exportTimeout }}
    cta.telemetry.metrics.export.timeout {{ $.Values.telemetry.metrics.exportTimeout }}
    {{- end }}
    {{- if $.Values.telemetry.metrics.otlp.endpoint }}
    cta.telemetry.metrics.otlp.endpoint {{ $.Values.telemetry.metrics.otlp.endpoint }}
    {{- end }}
    {{- if $.Values.telemetry.metrics.otlp.auth.basic.username }}
    cta.telemetry.metrics.otlp.auth.basic.username {{ $.Values.telemetry.metrics.otlp.auth.basic.username }}
    {{- end }}
    {{- if $.Values.telemetry.metrics.otlp.auth.basic.passwordSecret }}
    cta.telemetry.metrics.otlp.auth.basic.password_file /etc/cta/otlp-basic-auth-pwd.conf
    {{- end }}
    {{- if $.Values.telemetry.metrics.file.endpoint }}
    cta.telemetry.metrics.file.endpoint {{ $.Values.telemetry.metrics.file.endpoint }}
    {{- end }}
---
{{- end }}
