{{- /*
SPDX-FileCopyrightText: 2025 CERN
SPDX-License-Identifier: GPL-3.0-or-later
*/ -}}

{{- $schedulerConfig := include "scheduler.config" . | fromYaml -}}
{{- $allRoutines := .Values.routines -}}
{{- range $routineName, $routineConf := $allRoutines }}
{{- $routineNameSlug := include "common.slugify" $routineName }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: cta-maintd-{{ $routineNameSlug }}-conf
  labels:
    {{-  include "common.labels.standard" $ | nindent 4 }}
data:
  cta-maintd.conf: |-

    [catalogue]
      config_file = "/etc/cta/cta-catalogue.conf"

    [scheduler]
      backend_name = {{ $schedulerConfig.backend | quote }}

      {{- if eq $schedulerConfig.backend "postgres" }}
      config_file = "/etc/cta/cta-scheduler.conf"
      {{- else }}
      objectstore_backend_path = {{ include "global.schedulerUrl" $ | quote }}
      {{- end }}
      tape_cache_max_age_secs = {{ $.Values.scheduler.tapeCacheMaxAgeSecs }}
      retrieve_queue_cache_max_age_secs = {{ $.Values.scheduler.retrieveQueueCacheMaxAgeSecs }}

    [logging]
      level = {{ $.Values.logging.level | quote }}
      format = "json"
      [logging.attributes]
        instance = {{ $.Release.Namespace | quote }}

    [telemetry]
      config_file = "/etc/cta/cta-otel.yaml"
      on_init_failure = "fatal"

    [health_server]
      enabled = true
      host = "0.0.0.0"
      port = 8080
      use_unix_domain_socket = false

    [xrootd]
      # Overrides XrdSecPROTOCOL
      security_protocol = "sss"
      # Overrides XrdSecSSSKT
      sss_keytab_path = "/etc/cta/cta-maintd.sss.keytab"

    [routines]
      cycle_sleep_interval_secs = {{ int64 $routineConf.sleepIntervalSecs | toString }}
      max_cycle_duration_secs = 900


      {{- /* We should set the options for ALL routines here, but we only enable the "current" routine */ -}}
      {{- range $name, $conf := $allRoutines }}
      {{ include "common.toSnakeCase" $name }}.enabled = {{ ternary "true" "false" (eq $name $routineName) }}
      {{- range $k, $v := (omit $conf "replicas" "sleepIntervalSecs") }}
      {{ include "common.toSnakeCase" $name }}.{{ include "common.toSnakeCase" $k }} = {{ include "common.stringOrNumber" $v }}
      {{- end }}
      {{ end }}

    [experimental]
      telemetry_enabled = true

---
{{- end }}

