{{- /*
SPDX-FileCopyrightText: 2025 CERN
SPDX-License-Identifier: GPL-3.0-or-later
*/ -}}

{{- $schedulerConfig := include "scheduler.config" . | fromYaml -}}
{{- $allRoutines := .Values.routines -}}
{{- range $routineName, $routineConf := $allRoutines }}
{{- $routineNameSlug := include "common.slugify" $routineName }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: cta-maintd-{{ $routineNameSlug }}-conf
  labels:
    {{-  include "common.labels.standard" $ | nindent 4 }}
data:
  cta-maintd.conf: |-
    # General
    cta.instance_name {{ $.Release.Namespace }}
    cta.scheduler_backend_name {{ $schedulerConfig.backend }}
    cta.daemon_user cta
    cta.daemon_group tape

    cta.log.level {{ $.Values.conf.logLevel }}
    cta.log.format json

    cta.catalogue.config_file /etc/cta/cta-catalogue.conf
    cta.objectstore.backendpath {{ include "global.schedulerUrl" $ }}

    cta.schedulerdb.tape_cache_max_age_secs {{ $.Values.conf.tapeCacheMaxAgeSecs }}
    cta.schedulerdb.retrieve_queue_cache_max_age_secs {{ $.Values.conf.retrieveQueueCacheMaxAgeSecs }}

    cta.routines.sleep_interval {{ int64 $routineConf.sleepInterval | toString }}

    {{- /* We should set the options for ALL routines here, but we only enable the "current" routine */ -}}
    {{- range $name, $conf := $allRoutines }}
    cta.routines.{{ include "common.toSnakeCase" $name }}.enabled {{ ternary "true" "false" (eq $name $routineName) }}
    {{- range $k, $v := (omit $conf "replicas" "sleepInterval") }}
    cta.routines.{{ include "common.toSnakeCase" $name }}.{{ include "common.toSnakeCase" $k }} {{ include "common.stringOrNumber" $v }}
    {{- end }}
    {{ end }}

    ## Health

    cta.health_server.enabled true
    # For k8s health probes to work, this cannot only accept connections from localhost
    cta.health_server.host 0.0.0.0
    cta.health_server.port 8080
    cta.health_server.liveness_window 120

    # Telemetry
    cta.experimental.telemetry.enabled true
    cta.telemetry.config /etc/cta/cta-otel.yaml
---
{{- end }}

