
{{- $schedulerConfig := include "scheduler.config" . | fromYaml -}}
{{- $allDrives := include "tpsrv.allDrives" . | fromYamlArray }}
{{- range $driveSlot, $drive := $allDrives }}
# Generate unique config map for each tape drive
apiVersion: v1
kind: ConfigMap
metadata:
  # The name cannot use the drivename as this contains uppercase letters
  name: cta-taped-{{ lower $drive.name }}-conf
  labels:
    {{-  include "common.labels.standard" $ | nindent 4 }}
data:
  cta-taped.conf: |-
    # cta-taped setup
    taped BufferSizeBytes {{ $.Values.conf.taped.bufferSizeBytes }}
    taped BufferCount {{ $.Values.conf.taped.bufferCount }}
    taped MountCriteria {{ $.Values.conf.taped.mountCriteria }}
    taped WatchdogIdleSessionTimer {{ $.Values.conf.taped.watchdogIdleSessionTimer }}
    taped UseEncryption {{ $.Values.conf.taped.useEncryption }}
    taped DriveName {{ $drive.name }}
    taped DriveLogicalLibrary {{ $drive.name }}
    taped DriveDevice /dev/{{ $drive.device }}
    taped DriveControlPath smc{{ $driveSlot }}
    taped LogMask {{ $.Values.conf.taped.logMask }}
    # Decrease schedulerDB cache timeout for tests
    taped TapeCacheMaxAgeSecs {{ $.Values.conf.taped.tapeCacheMaxAgeSecs }}
    taped RetrieveQueueCacheMaxAgeSecs {{ $.Values.conf.taped.retrieveQueueCacheMaxAgeSecs }}
    # Objectstore
    ObjectStore BackendPath {{ include "global.schedulerUrl" $ }}
    # General
    general InstanceName {{ $.Release.Namespace }}
    general SchedulerBackendName {{ $schedulerConfig.backend }}
    taped externalFreeDiskSpaceScript {{ $.Values.conf.taped.externalFreeDiskSpaceScript }}

    # Telemetry
    experimental telemetryEnabled {{ $.Values.conf.telemetry.enabled }}

    telemetry retainInstanceIdOnRestart {{ $.Values.conf.telemetry.retainInstanceIdOnRestart }}
    telemetry metricsBackend {{ $.Values.conf.telemetry.metrics.backend }}
    {{- if $.Values.conf.telemetry.metrics.exportInterval }}
    telemetry metricsExportInterval {{ $.Values.conf.telemetry.metrics.exportInterval }}
    {{- end }}
    {{- if $.Values.conf.telemetry.metrics.exportTimeout }}
    telemetry metricsExportTimeout {{ $.Values.conf.telemetry.metrics.exportTimeout }}
    {{- end }}
    {{- if $.Values.conf.telemetry.metrics.otlp.endpoint }}
    telemetry metricsOtlpEndpoint {{ $.Values.conf.telemetry.metrics.otlp.endpoint }}
    {{- end }}
    {{- if $.Values.conf.telemetry.metrics.otlp.auth.basic.username }}
    telemetry metricsOtlpAuthBasicUsername {{ $.Values.conf.telemetry.metrics.otlp.auth.basic.username }}
    {{- end }}
    {{- if $.Values.conf.telemetry.metrics.otlp.auth.basic.passwordSecret }}
    telemetry metricsOtlpAuthBasicPasswordFile /etc/cta/otlp-basic-auth-pwd.conf
    {{- end }}
    {{- if $.Values.conf.telemetry.metrics.file.endpoint }}
    telemetry metricsFileEndpoint {{ $.Values.conf.telemetry.metrics.file.endpoint }}
    {{- end }}


---
{{- end }}
