Source: gencastor
Section: devel
Priority: optional
Maintainer: Sebastien Ponce <sebastien.ponce@cern.ch>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: gencastor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: umbrello (>= 4:3.2.3)
Description: Automatic generation of castor code from UML diagrams
 genCastor generates part of the castor source code in the current directory from
 the xmi file given in input. This file must be readable by umbrello, which is the
 underlying package.

