[Unit]
Description=CTA frontend plugin for the XRoot deamon 
After=network-online.target

[Service]
ExecStart=/usr/bin/xrootd -l /var/log/cta-frontend-xrootd.log -c /etc/cta/cta-frontend-xrootd.conf -k fifo -n cta
User=cta
Type=simple
Restart=always
RestartSec=10
StartLimitInterval=0
StartLimitBurst=0
LimitCORE=infinity
LimitNOFILE=65536

[Install]
WantedBy=default.target
