#
# CTA options
#

# CTA ObjectStore options
#cta.objectstore.backendpath /tmp/jobStoreXXXXXXX

# Block requests by
cta.schedulerdb.enable_repack_requests on
cta.schedulerdb.enable_user_requests on

# CTA Scheduler DB options
cta.schedulerdb.numberofthreads 500
cta.schedulerdb.threadstacksize_mb 1

# CTA Catalogue options
cta.catalogue.numberofconnections 10

# Maximum file size (in GB) that the CTA Frontend will accept for archiving
cta.archivefile.max_size_gb 1000

# CTA Frontend log URL
cta.log.url file:/var/log/cta/cta-frontend.log

# CTA Logger log level
# Valid log levels are EMERG, ALERT, CRIT, ERR, WARNING, NOTICE (==USERERR), INFO, DEBUG
# cta.log.level DEBUG

# CTA Logger log format
# Valid formats are default, json
# cta.log.format json

# CTA XRootD SSI Protobuf log level
# cta.log.ssi debug protobuf
cta.log.ssi warning

# CTA Repack buffer URL
# cta.repack.repack_buffer_url root://ctaeos//eos/ctaeos/repack

# CTA Verification Mount Policy
cta.verification.mount_policy verification

# Keytab containing gRPC endpoints and tokens for each disk instance
#cta.ns.config /etc/cta/eos.grpc.keytab

#
# XRootD/SSI options
#

# Enable SSI debug logging
#ssi.trace debug

# Load the CTA SSI plugin
xrootd.fslib -2 libXrdSsi.so

# Load the SSI module
ssi.svclib libXrdSsiCta.so

# Use the security module
xrootd.seclib libXrdSec.so

# Security protocol specification
#
# Note: the XRootD process needs to be able to read the keytab file
sec.protocol krb5 /etc/cta/cta-frontend.krb5.keytab cta/cta-frontend@TEST.CTA
sec.protocol sss -s /etc/cta/eos.sss.keytab

# Only Kerberos 5 and sss are allowed
sec.protbind * only sss krb5

# Turn off asynchronous I/O
xrootd.async off

# Use a port other than 1094, already used by EOS xroot server
xrd.port 10955

# Export the SSI resource
all.export /ctafrontend nolock r/w
