# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

# These settings are available to all the subcharts
global:
  image:
    repository: gitlab-registry.cern.ch/cta/ctageneric
    tag: ""
    pullPolicy: IfNotPresent
    pullSecrets:
      - ctaregsecret
      - reg-ctageneric

  #
  # Define extra arbitrary Kubernetes objects (secrets, configmaps, static PVs, etc.) as items in a list.
  #   Example:
  #   extraObjects:
  #     - |
  #       apiVersion: v1
  #       kind: ConfigMap
  #       metadata:
  #         name: {{ .Release.Name }}-extra
  #       data:
  #         speed: fast
  extraObjects: []

  # Must match the authentication chart
  kerberos:
    clientConfig:
      configMap: krb5-conf
    defaultRealm: TEST.CTA
    adminPrinc:
      name: root
      password: "defaultcipassword"

  # This shared mount is to be removed once vfsDeprecated is removed
  extraVolumes:
    volumes:
      - name: shared
        hostPath:
          path: /opt/cta
      - name: coredumps
        emptyDir: {}
    volumeMounts:
      - name: shared
        mountPath: /shared
      - name: coredumps
        mountPath: /var/log/tmp


  securityContext:
    allowPrivilegeEscalation: False
    privileged: False
