# @project      The CERN Tape Archive (CTA)
# @copyright    Copyright © 2015-2022 CERN
# @license      This program is free software, distributed under the terms of the GNU General Public
#               Licence version 3 (GPL Version 3), copied verbatim in the file "COPYING". You can
#               redistribute it and/or modify it under the terms of the GPL Version 3, or (at your
#               option) any later version.
#
#               This program is distributed in the hope that it will be useful, but WITHOUT ANY
#               WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
#               PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
#               In applying this licence, CERN does not waive the privileges and immunities
#               granted to it by virtue of its status as an Intergovernmental Organization or
#               submit itself to any jurisdiction.

# This file should contain a single line, with the connection string for the CTA Catalogue database.
# Blank lines and comments are ignored. A comment line starts a hash '#' character. Comments at the
# end of a line are not supported. Leading whitespace is permitted.
#
# The format of the connection string is either:
#
#    oracle:username/password@database
#
# or:
#
#    postgresql:postgresql://username:password@hostname/database
#
# There are two additional options intended for development and testing only. These should not
# be used in a production environment:
#
#    in_memory
#    sqlite:filename
#
postgresql:postgresql://username:password@hostname/database
