# @project      The CERN Tape Archive (CTA)
# @copyright    Copyright © 2015-2022 CERN
# @license      This program is free software, distributed under the terms of the GNU General Public
#               Licence version 3 (GPL Version 3), copied verbatim in the file "COPYING". You can
#               redistribute it and/or modify it under the terms of the GPL Version 3, or (at your
#               option) any later version.
#
#               This program is distributed in the hope that it will be useful, but WITHOUT ANY
#               WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
#               PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
#               In applying this licence, CERN does not waive the privileges and immunities
#               granted to it by virtue of its status as an Intergovernmental Organization or
#               submit itself to any jurisdiction.

# This file should contain one and only one connection string.  Blank lines and
# comments are ignored.
#
# PLEASE NOTE that comments at the end of a line are not supported.  Only entire
# line comments are allowed.  A comment line starts a hash '#' character.
# Leading whitespace is permitted.
#
# The format of the connection string is either:
#
#    in_memory
#
# or:
#
#    oracle:username/password@database
#
# or:
#
#    postgresql:postgresql://username:password@hostname/database
#
# or:
#
#    sqlite:filename
#
# PLEASE NOTE that the "in_memory" and "sqlite:" connection strings are for
# development and testing purposes only.
