{% extends "logviewer/base.html" %}

{% block content %}
<div id="content">
    <div class="home-content"></div>
    <div class="home-footer">
        <a href="http://www.python.org/"><img src="/static/img/python-powered-w.svg" title="Powered by Python." class="svg" /></a>
        <a href="http://www.djangoproject.com/"><img src="/static/img/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a>
        <img src="/static/img/HTML5_Badge.svg" title="This site uses HTML5 and CSS3." class="svg" />
    </div>
</div>
{% endblock %}
