# SPDX-FileCopyrightText: 2026 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

# Per-crate lockfiles are ignored, since we're using a workspace
cta-lib-rs/Cargo.lock
cta-protobuf-rs/Cargo.lock
cta-restore-files/Cargo.lock
eos-protobuf-rs/Cargo.lock

# This is just a precaution, as cta-restore-files expects a file
# with this name by default
cta-restore-files/namespace.keytab
