    {% if object_list %}
        <ul>
        <p>Time needed to find these {{ number_entries }} entries: {{ time}} </p>
        {% for object in object_list %}
        
        	{% if object.test %}
        		<b></b>
        	{% endif %}
        	
            {% if object.hasChildren %}
	            <li>
	            	{{ forloop.counter }} -- <a href="http://127.0.0.1:8000/simpletext/bydir/{{ object.fileid}}">{{ object.fullname }} </a> -- totalsize: {{ object.totalsize }}
	            </li>
            {% else %}
	            <li>
	            	{{ forloop.counter }} -- {{ object.fullname }} -- totalsize: {{ object.totalsize}} -- id: {{ object.fileid}}
	            </li>
			{% endif %}
			
			{% if object.hasFiles %}
				<b>files</b>
    			{% for file in object.getFiles %}
    				<dl><dd>
			            <li>
			            	<b>file</b>
			            	{{ forloop.counter }} -- {{ file.name }} -- filesize: {{ file.filesize }} -- id: {{ file.fileid }}
			            </li>
		            </dd></dl>
		        {% endfor %}
		    {% endif %}
		    
        {% endfor %}
        </ul>
    {% else %}
        <p>No data available / A file or an empty folder</p>
    {% endif %}