# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

conf:
  taped:
    bufferSizeBytes: 262144
    bufferCount: 200
    mountCriteria: "2000000, 100"
    watchdogIdleSessionTimer: 2  # Make tape servers more responsive, thus improving CI test speed
    logMask: "INFO"
    useEncryption: "no"
    # Reduce number of threads to reduce contention
    nbDiskThreads: 4
    # Decrease schedulerDB cache timeout for tests
    tapeCacheMaxAgeSecs: 1
    retrieveQueueCacheMaxAgeSecs: 1
    externalFreeDiskSpaceScript: "/usr/bin/cta-eosdf.sh"
  telemetry:
    enabled: false
    retainInstanceIdOnRestart: false
    metrics:
      backend: "NOOP"
      exportInterval: 1000
      exportTimeout: 500
      otlp:
        endpoint: ""
        auth:
          basic:
            username: ""
            passwordSecret: ""
      file:
        endpoint: ""


# SSS keytab to communicate to the disk buffer
keytab:
  secretName: eos-keytab
  subPath: eos.keytab

# Script to execute in the main container before starting the tpsrv/rmcd services
preRun:
  enabled: false
  script: |
    #!/usr/bin/bash

# Script to execute in the main container after the taped process exited
postRun:
  enabled: false
  script: |
    #!/usr/bin/bash

# tapeServers: {}
# The following is an example format of tapeServers
#
# tpsrv01:
#   libraryType: "MHVTL"
#   libraryDevice: "sg0"
#   libraryName: "VLSTK10"
#   drives:
#     - name: "VDSTK01"
#       device: "nst2"
#     - name: "VDSTK02"
#       device: "nst0"
# tpsrv02:
#   libraryType: "MHVTL"
#   libraryDevice: "sg0"
#   libraryName: "VLSTK10"
#   drives:
#     - name: "VDSTK03"
#       device: "nst1"

# We need to be privileged to handle the tape drives
securityContext:
  privileged: true
  allowPrivilegeEscalation: true

pod:
  extraSpec:
    terminationGracePeriodSeconds: 1

extraEnv:

extraVolumes:
  volumes:
  volumeMounts:
