# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

# Script to execute in the main container before starting the rmcd services
preRun:
  enabled: false
  script: |
    #!/usr/bin/bash

# Script to execute in the main container after the taped process exited
postRun:
  enabled: false
  script: |
    #!/usr/bin/bash

# We need to be privileged to handle the tape drives
securityContext:
  privileged: true
  allowPrivilegeEscalation: true

libraryDevice: /dev/smc
listenScope: any # set to localhost or any other string to ensure it listens on localhost only

service:
  enabled: true # Set to false if relying on hostnetwork/localhost

pod:
  extraSpec:
    terminationGracePeriodSeconds: 1

extraEnv:

extraVolumes:
  volumes:
  volumeMounts:
