# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

.build-image:
  stage: build:image
  rules:
    - if: $PIPELINE_TYPE == "SYSTEM_TEST_ONLY"
      when: never
    # For pivot CTA releases: vX.Y.0
    - if: $CI_COMMIT_TAG && $CI_COMMIT_TAG =~ /^.*\.0\.[0-9]+-[^-]*$/
      when: on_success
    # For non-pivot CTA releases
    - if: $CI_COMMIT_TAG && $CI_COMMIT_TAG !~ /^.*\.0\.[0-9]+-[^-]*$/
      when: manual
    - when: on_success
  image:
    name: $IMAGE_DOCKER_IMAGE_BUILDER
    entrypoint: [""]
  variables:
    GIT_SUBMODULE_STRATEGY: "none" # Don't need submodules for these jobs
    DOCKERFILE:
    IMAGE_NAME:
    EXTRA_BUILD_ARGS:
  script:
    - |
      if [[ $CI_PIPELINE_SOURCE == "merge_request_event" ]]; then
        EXTRA_BUILD_ARGS+=" --no-push-cache"
      fi
    - echo "Authenticating against repo"
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"${DOCKER_LOGIN_USERNAME}\",\"password\":\"${DOCKER_LOGIN_PASSWORD}\"}}}" > /kaniko/.docker/config.json
    - echo "Building ${DOCKERFILE} and pushing resulting image to ${CI_REGISTRY}/cta/${IMAGE_NAME}:${CTA_BUILD_ID}"
    - /kaniko/executor --context $CI_PROJECT_DIR
                       --cache=true
                       --cache-copy-layers
                       --cache-ttl=48h
                       --dockerfile $DOCKERFILE
                       --destination ${CI_REGISTRY}/cta/${IMAGE_NAME}:${CTA_BUILD_ID}
                       ${EXTRA_BUILD_ARGS}
    - echo "Image pushed successfully to ${CI_REGISTRY}/cta/${IMAGE_NAME}:${CTA_BUILD_ID}"

build-ctageneric-from-local-rpms:
  extends:
    - .build-image
  needs:
    - job: build-cta-rpms
    - job: modify-project-json
      optional: true
  rules:
    - if: $PIPELINE_TYPE == "REGR_AGAINST_CTA_VERSION"
      when: never
    - if: $PIPELINE_TYPE == "IMAGE_FROM_CTA_VERSION"
      when: never
    - !reference [.build-image, rules]
  variables:
    DOCKERFILE: ci/docker/${PLATFORM}/dev-local-rpms.Dockerfile
    IMAGE_NAME: ctageneric
    EXTRA_BUILD_ARGS: "--build-arg USE_INTERNAL_REPOS=${USE_INTERNAL_REPOS}"
  before_script:
    # The RPMs come from the artifacts which come as a symbolic link
    # that points outside of the build context. We need to copy them
    # to a reachable place from the build context.
    - mkdir -p image_rpms
    - cp -r build_rpm/RPM/RPMS/x86_64 image_rpms

build-ctageneric-from-remote-rpms:
  extends:
    - .build-image
  needs:
    - job: modify-project-json
      optional: true
  rules:
    - if: $PIPELINE_TYPE == "REGR_AGAINST_CTA_VERSION"
    - if: $PIPELINE_TYPE == "IMAGE_FROM_CTA_VERSION"
    - when: never
    - !reference [.build-image, rules]
  variables:
    DOCKERFILE: ci/docker/${PLATFORM}/dev-remote-rpms.Dockerfile
    IMAGE_NAME: ctageneric
    EXTRA_BUILD_ARGS: "--build-arg USE_INTERNAL_REPOS=${USE_INTERNAL_REPOS} --build-arg PUBLIC_REPO_VER=${CUSTOM_CTA_VERSION}.${PLATFORM}"

###############################################
# Immutable images
###############################################

build-images:
  extends:
    - .build-image
  allow_failure: true  # Don't block the pipeline
  needs:
    - job: build-cta-rpms
    - job: modify-project-json
      optional: true
  rules:
    - if: $PIPELINE_TYPE == "REGR_AGAINST_CTA_VERSION"
      when: never
    - if: $PIPELINE_TYPE == "IMAGE_FROM_CTA_VERSION"
      when: never
    - if: $PIPELINE_TYPE == "SYSTEM_TEST_ONLY"
      when: never
    - when: manual
  variables:
    TARGET_NAME:
    DOCKERFILE: ci/docker/${PLATFORM}/prod.Dockerfile
    EXTRA_BUILD_ARGS: "--build-arg USE_INTERNAL_REPOS=${USE_INTERNAL_REPOS} --target ${TARGET_NAME}"
    # Note that this ctageneric is important here: it ensures the images end up in a private registry
    # These images must absolutely not end up in a public registry, as they contain Oracle RPMs (which we cannot distribute)
    IMAGE_NAME: ctageneric/${TARGET_NAME}
  before_script:
    # For the Postgres scheduler, choose a different Dockerfile and add the "-pg" suffix to the image
    - |
      if [[ "${SCHEDULER_TYPE}" == "pgsched" ]]; then
        DOCKERFILE="ci/docker/${PLATFORM}/prod-pg.Dockerfile"
        IMAGE_NAME="${IMAGE_NAME}-pg"
      fi
    # The RPMs come from the artifacts which come as a symbolic link
    # that points outside of the build context. We need to copy them
    # to a reachable place from the build context.
    - mkdir -p image_rpms
    - cp -r build_rpm/RPM/RPMS/x86_64 image_rpms
  parallel:
    matrix:
      - TARGET_NAME: [cta-taped, cta-rmcd, cta-maintd, cta-frontend-xrd, cta-frontend-grpc, cta-tools-xrd, cta-tools-grpc]
