# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

# This job ensures we still fail the pipeline if danger-review failed
# But we only do so after the full pipeline has completed
danger-review-gate:
  stage: gate
  dependencies:
    - danger-review
  # Note that we rely on the stage ordering here instead of job ordering
  # This is because the review stage is last, which ensures that this job is always executed last
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always
    - when: never
  variables:
    GIT_STRATEGY: "none" # Don't need anything from the repo for this job
  script:
    - status=$(cat danger_status.txt)
    - if [[ "$status" -ne 0 ]]; then
        echo "Danger review failed. Please check the merge request comment.";
        exit 1;
      fi
    - echo "Danger passed."
