# SPDX-FileCopyrightText: 2025 CERN
# SPDX-License-Identifier: GPL-3.0-or-later

lint-cpp:
  stage: lint
  needs: []  # Ensure no artifacts are downloaded
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $PIPELINE_TYPE != "DEFAULT"
      when: never
    - when: always
  image:
    name: $IMAGE_LINT
    entrypoint: ["/usr/bin/env"]
  script:
    - cppcheck --xml
               --force
               --enable=warning,performance
               --inline-suppr
               --check-level=exhaustive
               --suppressions-list=.cppcheck-suppressions.txt
               . 2> cppcheck_out.xml
    - cppcheck-codequality --input-file=cppcheck_out.xml --output-file=cppcheck.json
    - |
      if cat cppcheck_out.xml | grep -q "<error\s"; then
        echo "cppcheck detected errors. cppcheck-codequality output:"
        cat cppcheck.json | jq -C
        exit 1
      fi
    - echo "Done. No errors detected by cppcheck"
  artifacts:
    expire_in: 7 days
    reports:
      codequality: cppcheck.json

lint-bash:
  stage: lint
  needs: []  # Ensure no artifacts are downloaded
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $PIPELINE_TYPE != "DEFAULT"
      when: never
    - when: always
  image:
    name: $IMAGE_LINT
    entrypoint: ["/usr/bin/env"]
  script:
    - all_shell_scripts=( **/*.sh )
    - if [ ${#all_shell_scripts[@]} -eq 0 ]; then echo "No shell scripts"; exit 0; fi
    - shellcheck "${all_shell_scripts[@]}" --format json --severity warning | tee shellcheck.json | jq -C
  artifacts:
    expire_in: 7 days
    reports:
      codequality: shellcheck.json

lint-python:
  stage: lint
  needs: []  # Ensure no artifacts are downloaded
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $PIPELINE_TYPE != "DEFAULT"
      when: never
    - when: always
  image:
    name: $IMAGE_LINT
    entrypoint: ["/usr/bin/env"]
  script:
    - ruff check --output-format gitlab | tee ruff.json | jq -C
  artifacts:
    expire_in: 7 days
    reports:
      codequality: ruff.json

lint-yaml:
  stage: lint
  needs: []  # Ensure no artifacts are downloaded
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $PIPELINE_TYPE != "DEFAULT"
      when: never
    - when: always
  image:
    name: $IMAGE_LINT
    entrypoint: ["/usr/bin/env"]
  script:
    - python3 continuousintegration/checks/check_gitlab_ci_key_order.py .gitlab/
    - yamllint .

lint-licenses:
  stage: lint
  needs: []  # Ensure no artifacts are downloaded
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $PIPELINE_TYPE != "DEFAULT"
      when: never
    - when: always
  image:
    name: $IMAGE_LICENSE_CHECK
    entrypoint: [""]
  script:
    - reuse lint

# Generic format check job template
# The idea is to extend this, fill in the FORMAT_DIFF variable
# And then add a before_script: section that populates this FORMAT_DIFF file
.format-report:
  stage: lint
  needs: []  # Ensure no artifacts are downloaded
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $PIPELINE_TYPE != "DEFAULT"
      when: never
    - when: always
  image: $IMAGE_LINT
  variables:
    FORMAT_DIFF:
  before_script:
    - exit 1  # The jobs that extend this job should override this
  script:
    - |
      if [[ ! -f "$FORMAT_DIFF" ]]; then
        echo "FORMAT_DIFF file not found: $FORMAT_DIFF"
        exit 1
      fi
    - |
      if [[ $(wc -l < $FORMAT_DIFF) -le 1 ]]; then
        echo "No formatting issues found"
        exit 0
      fi
    - |
      if [[ $(wc -l < $FORMAT_DIFF) -le 1000 ]]; then
        bat --style=plain --color=always $FORMAT_DIFF
      else
        echo "Format diff too large. Please check job artifacts"
      fi
    - exit 1  # format checks failed, so the job should fail
  artifacts:
    when: on_failure
    expire_in: 7 days
    paths:
      - $FORMAT_DIFF


format-cpp:
  extends:
    - .format-report
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $PIPELINE_TYPE != "DEFAULT"
      when: never
    - changes:
        - "**/*.c"
        - "**/*.h"
        - "**/*.cpp"
        - "**/*.hpp"
      when: always
    - when: manual
      allow_failure: true
  variables:
    FORMAT_DIFF: artifacts/clang-format.diff
  before_script:
    - mkdir -p artifacts
    - TARGET_BRANCH=${CI_MERGE_REQUEST_TARGET_BRANCH_NAME:-$CI_DEFAULT_BRANCH}
    - git fetch --no-tags origin $TARGET_BRANCH:$TARGET_BRANCH
    - echo "Running clang-format for changes compared to branch $TARGET_BRANCH"
    - git-clang-format $TARGET_BRANCH HEAD --diff > $FORMAT_DIFF || true

format-python:
  extends:
    - .format-report
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $PIPELINE_TYPE != "DEFAULT"
      when: never
    - when: always
    - changes:
        - "**/*.py"
      when: always
    - when: manual
      allow_failure: true
  variables:
    FORMAT_DIFF: artifacts/black.diff
  before_script:
    - mkdir -p artifacts
    - echo "Running black on all Python files"
    - black . --line-length=120 --diff | sed "s|$CI_PROJECT_DIR|$CI_PROJECT_NAME|" > $FORMAT_DIFF

trigger-sonarcloud:
  allow_failure: true
  stage: lint
  needs: []  # Ensure no artifacts are downloaded
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: manual
  image: $IMAGE_LINT
  variables:
    TARGET_URL: https://api.github.com/repos/cern-cta/CTA/actions/workflows/sonar-source.yml/dispatches
    BRANCH_NAME: $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  script:
    - |
      curl -X POST \
        -H "Accept: application/vnd.github+json" \
        -H "Authorization: Bearer $GITHUB_API_TOKEN" \
        $TARGET_URL \
        -d "{\"ref\":\"${BRANCH_NAME}\"}"
    - echo "Please visit https://github.com/cern-cta/CTA/actions to see the progress of the analysis"

danger-review:
  interruptible: false
  stage: lint
  needs: []  # Ensure no artifacts are downloaded
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always
    - when: never
  image: $IMAGE_DANGER
  variables:
    DANGER_GITLAB_USE_THREADS: 1
  script:
    - exit_code=0
    - danger --verbose --dangerfile=continuousintegration/danger/Dangerfile --fail-on-errors=true || exit_code=$?
    - echo $exit_code > danger_status.txt
  artifacts:
    paths:
      - danger_status.txt
    expire_in: 1 day
