danger-review:
  interruptible: false
  # We allow failure here as we don't want to immediately auto-cancel the entire pipeline
  # Developers should be allowed to test things without
  allow_failure: true
  stage: review
  needs: []
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always
    - when: never
  image: $IMAGE_DANGER
  variables:
    DANGER_GITLAB_USE_THREADS: 1
  script:
    - exit_code=0
    - danger --verbose --dangerfile=continuousintegration/danger/Dangerfile --fail-on-errors=true || exit_code=$?
    - echo $exit_code > danger_status.txt
  artifacts:
    paths:
      - danger_status.txt
    expire_in: 1 day

# This job ensures we still fail the pipeline if danger-review failed
# But we only do so after the full pipeline has completed
danger-review-gate:
  stage: review
  dependencies:
    - job: danger-review
  # Note that we rely on the stage ordering here instead of job ordering
  # This is because the review stage is last, which ensures that this job is always executed last
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always
    - when: never
  script:
    - status=$(cat danger_status.txt)
    - if [[ "$status" -ne 0 ]]; then
        echo "Danger review failed. Please check the merge request comment.";
        exit 1;
      fi
    - echo "Danger passed."
