<div id="search-bar">
    <span><a href="/dlf"><img src="/static/img/home.png" title="Home" alt="Home"/></a><a href="/"><img src="/static/img/exit.png" alt="Go to Cockpit" title="Go to Cockpit" /></a></span>
    <form action="/dlfurl" method="post">
        {% csrf_token %}
        File ID : <input type="text" name="file_id" size="12" placeholder="NSFILEID" />
        Request ID : <input type="text" name="req_id" size="33" placeholder="REQID" />
        Tape ID : <input type="text" name="tape_id" size="8" placeholder="TPVID" />
        <input type="submit" name="submit" value="Search" class="btn" />
        <input type="reset" value="Reset" class="btn" />
    </form>
</div>
